@theme {
  --gray-1: #121113;
  --gray-2: #1a191b;
  --gray-3: #232225;
  --gray-4: #2b292d;
  --gray-5: #323035;
  --gray-6: #3c393f;
  --gray-7: #49474e;
  --gray-8: #625f69;
  --gray-9: #6f6d78;
  --gray-10: #7c7a85;
  --gray-11: #b5b2bc;
  --gray-12: #eeeef0;
}
