@theme {
  --color-gray-a1: #55005503;
  --color-gray-a2: #2b005506;
  --color-gray-a3: #30004010;
  --color-gray-a4: #20003618;
  --color-gray-a5: #20003820;
  --color-gray-a6: #14003527;
  --color-gray-a7: #10003332;
  --color-gray-a8: #08003145;
  --color-gray-a9: #05001d73;
  --color-gray-a10: #0500197d;
  --color-gray-a11: #0400119c;
  --color-gray-a12: #020008e0;
}
