@theme {
  --color-gray-1: #fdfcfd;
  --color-gray-2: #faf9fb;
  --color-gray-3: #f2eff3;
  --color-gray-4: #eae7ec;
  --color-gray-5: #e3dfe6;
  --color-gray-6: #dbd8e0;
  --color-gray-7: #d0cdd7;
  --color-gray-8: #bcbac7;
  --color-gray-9: #8e8c99;
  --color-gray-10: #84828e;
  --color-gray-11: #65636d;
  --color-gray-12: #211f26;
}
