@theme {
  --color-gray-a1: #00000000;
  --color-gray-a2: #f5f4f609;
  --color-gray-a3: #ebeaf814;
  --color-gray-a4: #eee5f81d;
  --color-gray-a5: #efe6fe25;
  --color-gray-a6: #f1e6fd30;
  --color-gray-a7: #eee9ff40;
  --color-gray-a8: #eee7ff5d;
  --color-gray-a9: #eae6fd6e;
  --color-gray-a10: #ece9fd7c;
  --color-gray-a11: #f5f1ffb7;
  --color-gray-a12: #fdfdffef;
}
