@theme {
  --color-gray-a1: #00550003;
  --color-gray-a2: #00490007;
  --color-gray-a3: #00200010;
  --color-gray-a4: #00160018;
  --color-gray-a5: #00180020;
  --color-gray-a6: #00140028;
  --color-gray-a7: #000f0033;
  --color-gray-a8: #040f0047;
  --color-gray-a9: #050f0078;
  --color-gray-a10: #040e0082;
  --color-gray-a11: #020a00a0;
  --color-gray-a12: #010600e3;
}
