@theme {
  --gray-a1: #00804003;
  --gray-a2: #00402006;
  --gray-a3: #00402010;
  --gray-a4: #00402018;
  --gray-a5: #00402020;
  --gray-a6: #00402027;
  --gray-a7: #00402032;
  --gray-a8: #00402045;
  --gray-a9: #00301873;
  --gray-a10: #0030187d;
  --gray-a11: #0020109c;
  --gray-a12: #00100ae0;
}
