@theme {
  --color-gray-1: #111110;
  --color-gray-2: #191918;
  --color-gray-3: #222221;
  --color-gray-4: #2a2a28;
  --color-gray-5: #31312e;
  --color-gray-6: #3b3a37;
  --color-gray-7: #494844;
  --color-gray-8: #62605b;
  --color-gray-9: #6f6d66;
  --color-gray-10: #7c7b74;
  --color-gray-11: #b5b3ad;
  --color-gray-12: #eeeeec;
}
