@theme {
  --color-gray-a1: #55550003;
  --color-gray-a2: #25250007;
  --color-gray-a3: #20100010;
  --color-gray-a4: #1f150019;
  --color-gray-a5: #1f180021;
  --color-gray-a6: #19130029;
  --color-gray-a7: #19140035;
  --color-gray-a8: #1915014a;
  --color-gray-a9: #0f0f0079;
  --color-gray-a10: #0c0c0083;
  --color-gray-a11: #080800a1;
  --color-gray-a12: #060500e3;
}
