@theme {
  --color-gray-1: #111113;
  --color-gray-2: #18191b;
  --color-gray-3: #212225;
  --color-gray-4: #272a2d;
  --color-gray-5: #2e3135;
  --color-gray-6: #363a3f;
  --color-gray-7: #43484e;
  --color-gray-8: #5a6169;
  --color-gray-9: #696e77;
  --color-gray-10: #777b84;
  --color-gray-11: #b0b4ba;
  --color-gray-12: #edeef0;
}
