@theme {
  --container-\*: initial;
  --container-256: 25.6rem;
  --container-288: 28.8rem;
  --container-320: 32rem;
  --container-384: 38.4rem;
  --container-448: 44.8rem;
  --container-512: 51.2rem;
  --container-576: 57.6rem;
  --container-672: 67.2rem;
  --container-768: 76.8rem;
  --container-896: 89.6rem;
  --container-1024: 102.4rem;
  --container-1152: 115.2rem;
  --container-1280: 128rem;
}
