@theme {
  --radius-*: initial;
  --radius-0: 0rem;
  --radius-2: 0.2rem;
  --radius-4: 0.4rem;
  --radius-6: 0.6rem;
  --radius-8: 0.8rem;
  --radius-10: 1rem;
  --radius-12: 1.2rem;
  --radius-16: 1.6rem;
  --radius-20: 2rem;
}
