@theme {
  --spacing-\*: initial;
  --spacing-0: 0rem;
  --spacing-1: 0.1rem;
  --spacing-2: 0.2rem;
  --spacing-4: 0.4rem;
  --spacing-6: 0.6rem;
  --spacing-8: 0.8rem;
  --spacing-10: 1rem;
  --spacing-12: 1.2rem;
  --spacing-14: 1.4rem;
  --spacing-16: 1.6rem;
  --spacing-20: 2rem;
  --spacing-24: 2.4rem;
  --spacing-28: 2.8rem;
  --spacing-32: 3.2rem;
  --spacing-36: 3.6rem;
  --spacing-40: 4rem;
  --spacing-44: 4.4rem;
  --spacing-48: 4.8rem;
  --spacing-56: 5.6rem;
  --spacing-64: 6.4rem;
  --spacing-80: 8rem;
  --spacing-96: 9.6rem;
  --spacing-112: 11.2rem;
  --spacing-128: 12.8rem;
  --spacing-144: 14.4rem;
  --spacing-160: 16rem;
  --spacing-176: 17.6rem;
  --spacing-192: 19.2rem;
  --spacing-208: 20.8rem;
  --spacing-224: 22.4rem;
  --spacing-240: 24rem;
  --spacing-256: 25.6rem;
  --spacing-288: 28.8rem;
  --spacing-320: 32rem;
  --spacing-384: 38.4rem;
}
