@theme {
  --color-amber-a1: #c0800004;
  --color-amber-a2: #f4d10016;
  --color-amber-a3: #ffde003d;
  --color-amber-a4: #ffd40063;
  --color-amber-a5: #f8cf0088;
  --color-amber-a6: #eab5008c;
  --color-amber-a7: #dc9b009d;
  --color-amber-a8: #da8a00c9;
  --color-amber-a9: #ffb300c2;
  --color-amber-a10: #ffb300e7;
  --color-amber-a11: #ab6400;
  --color-amber-a12: #341500dd;
}
