@theme {
  --color-amber-a1: #e63c0006;
  --color-amber-a2: #fd9b000d;
  --color-amber-a3: #fa820022;
  --color-amber-a4: #fc820032;
  --color-amber-a5: #fd8b0041;
  --color-amber-a6: #fd9b0051;
  --color-amber-a7: #ffab2567;
  --color-amber-a8: #ffae3587;
  --color-amber-a9: #ffc53d;
  --color-amber-a10: #ffd60a;
  --color-amber-a11: #ffca16;
  --color-amber-a12: #ffe7b3;
}
