@theme {
  --color-blue-1: #0d1520;
  --color-blue-2: #111927;
  --color-blue-3: #0d2847;
  --color-blue-4: #003362;
  --color-blue-5: #004074;
  --color-blue-6: #104d87;
  --color-blue-7: #205d9e;
  --color-blue-8: #2870bd;
  --color-blue-9: #0090ff;
  --color-blue-10: #3b9eff;
  --color-blue-11: #70b8ff;
  --color-blue-12: #c2e6ff;
}
