@theme {
  --color-blue-a1: #004df211;
  --color-blue-a2: #1166fb18;
  --color-blue-a3: #0077ff3a;
  --color-blue-a4: #0075ff57;
  --color-blue-a5: #0081fd6b;
  --color-blue-a6: #0f89fd7f;
  --color-blue-a7: #2a91fe98;
  --color-blue-a8: #3094feb9;
  --color-blue-a9: #0090ff;
  --color-blue-a10: #3b9eff;
  --color-blue-a11: #70b8ff;
  --color-blue-a12: #c2e6ff;
}
