@theme {
  --color-bronze-a1: #d1110004;
  --color-bronze-a2: #fbbc910c;
  --color-bronze-a3: #faceb817;
  --color-bronze-a4: #facdb622;
  --color-bronze-a5: #ffd2c12d;
  --color-bronze-a6: #ffd1c03c;
  --color-bronze-a7: #fdd0c04f;
  --color-bronze-a8: #ffd6c565;
  --color-bronze-a9: #fec7b09b;
  --color-bronze-a10: #fecab5a9;
  --color-bronze-a11: #ffd7c6d1;
  --color-bronze-a12: #fff1e9ec;
}
