@theme {
  --color-bronze-1: #141110;
  --color-bronze-2: #1c1917;
  --color-bronze-3: #262220;
  --color-bronze-4: #302a27;
  --color-bronze-5: #3b3330;
  --color-bronze-6: #493e3a;
  --color-bronze-7: #5a4c47;
  --color-bronze-8: #6f5f58;
  --color-bronze-9: #a18072;
  --color-bronze-10: #ae8c7e;
  --color-bronze-11: #d4b3a5;
  --color-bronze-12: #ede0d9;
}
