@theme {
  --color-brown-1: #12110f;
  --color-brown-2: #1c1816;
  --color-brown-3: #28211d;
  --color-brown-4: #322922;
  --color-brown-5: #3e3128;
  --color-brown-6: #4d3c2f;
  --color-brown-7: #614a39;
  --color-brown-8: #7c5f46;
  --color-brown-9: #ad7f58;
  --color-brown-10: #b88c67;
  --color-brown-11: #dbb594;
  --color-brown-12: #f2e1ca;
}
