@theme {
  --color-brown-1: #fefdfc;
  --color-brown-2: #fcf9f6;
  --color-brown-3: #f6eee7;
  --color-brown-4: #f0e4d9;
  --color-brown-5: #ebdaca;
  --color-brown-6: #e4cdb7;
  --color-brown-7: #dcbc9f;
  --color-brown-8: #cea37e;
  --color-brown-9: #ad7f58;
  --color-brown-10: #a07553;
  --color-brown-11: #815e46;
  --color-brown-12: #3e332e;
}
