@theme {
  --crimson-a1: #f4126709;
  --crimson-a2: #f22f7a11;
  --crimson-a3: #fe2a8b2a;
  --crimson-a4: #fd158741;
  --crimson-a5: #fd278f51;
  --crimson-a6: #fe459763;
  --crimson-a7: #fd559b7f;
  --crimson-a8: #fe5b9bab;
  --crimson-a9: #fe418de8;
  --crimson-a10: #ff5693ed;
  --crimson-a11: #ff92ad;
  --crimson-a12: #ffd5eafd;
}
