@theme {
  --color-crimson-1: #fffcfd;
  --color-crimson-2: #fef7f9;
  --color-crimson-3: #ffe9f0;
  --color-crimson-4: #fedce7;
  --color-crimson-5: #facedd;
  --color-crimson-6: #f3bed1;
  --color-crimson-7: #eaacc3;
  --color-crimson-8: #e093b2;
  --color-crimson-9: #e93d82;
  --color-crimson-10: #df3478;
  --color-crimson-11: #cb1d63;
  --color-crimson-12: #621639;
}
