@theme {
  --color-crimson-1: #191114;
  --color-crimson-2: #201318;
  --color-crimson-3: #381525;
  --color-crimson-4: #4d122f;
  --color-crimson-5: #5c1839;
  --color-crimson-6: #6d2545;
  --color-crimson-7: #873356;
  --color-crimson-8: #b0436e;
  --color-crimson-9: #e93d82;
  --color-crimson-10: #ee518a;
  --color-crimson-11: #ff92ad;
  --color-crimson-12: #fdd3e8;
}
