@theme {
  --color-cyan-a1: #0091f70a;
  --color-cyan-a2: #02a7f211;
  --color-cyan-a3: #00befd28;
  --color-cyan-a4: #00baff3b;
  --color-cyan-a5: #00befd4d;
  --color-cyan-a6: #00c7fd5e;
  --color-cyan-a7: #14cdff75;
  --color-cyan-a8: #11cfff95;
  --color-cyan-a9: #00cfffc3;
  --color-cyan-a10: #28d6ffcd;
  --color-cyan-a11: #52e1fee5;
  --color-cyan-a12: #bbf3fef7;
}
