@theme {
  --color-cyan-1: #0b161a;
  --color-cyan-2: #101b20;
  --color-cyan-3: #082c36;
  --color-cyan-4: #003848;
  --color-cyan-5: #004558;
  --color-cyan-6: #045468;
  --color-cyan-7: #12677e;
  --color-cyan-8: #11809c;
  --color-cyan-9: #00a2c7;
  --color-cyan-10: #23afd0;
  --color-cyan-11: #4ccce6;
  --color-cyan-12: #b6ecf7;
}
