@theme {
  --color-gold-a1: #55550003;
  --color-gold-a2: #9d8a000d;
  --color-gold-a3: #75600018;
  --color-gold-a4: #6b4e0024;
  --color-gold-a5: #60460030;
  --color-gold-a6: #64440040;
  --color-gold-a7: #63420055;
  --color-gold-a8: #633d0072;
  --color-gold-a9: #5332009a;
  --color-gold-a10: #492d00a1;
  --color-gold-a11: #362100b4;
  --color-gold-a12: #130c00d4;
}
