@theme {
  --color-gold-1: #121211;
  --color-gold-2: #1b1a17;
  --color-gold-3: #24231f;
  --color-gold-4: #2d2b26;
  --color-gold-5: #38352e;
  --color-gold-6: #444039;
  --color-gold-7: #544f46;
  --color-gold-8: #696256;
  --color-gold-9: #978365;
  --color-gold-10: #a39073;
  --color-gold-11: #cbb99f;
  --color-gold-12: #e8e2d9;
}
