@theme {
  --color-gold-a1: #91911102;
  --color-gold-a2: #f9e29d0b;
  --color-gold-a3: #f8ecbb15;
  --color-gold-a4: #ffeec41e;
  --color-gold-a5: #feecc22a;
  --color-gold-a6: #feebcb37;
  --color-gold-a7: #ffedcd48;
  --color-gold-a8: #fdeaca5f;
  --color-gold-a9: #ffdba690;
  --color-gold-a10: #fedfb09d;
  --color-gold-a11: #fee7c6c8;
  --color-gold-a12: #fef7ede7;
}
