@theme {
  --color-gold-1: #fdfdfc;
  --color-gold-2: #faf9f2;
  --color-gold-3: #f2f0e7;
  --color-gold-4: #eae6db;
  --color-gold-5: #e1dccf;
  --color-gold-6: #d8d0bf;
  --color-gold-7: #cbc0aa;
  --color-gold-8: #b9a88d;
  --color-gold-9: #978365;
  --color-gold-10: #8c7a5e;
  --color-gold-11: #71624b;
  --color-gold-12: #3b352b;
}
