@theme {
  --color-grass-1: #0e1511;
  --color-grass-2: #141a15;
  --color-grass-3: #1b2a1e;
  --color-grass-4: #1d3a24;
  --color-grass-5: #25482d;
  --color-grass-6: #2d5736;
  --color-grass-7: #366740;
  --color-grass-8: #3e7949;
  --color-grass-9: #46a758;
  --color-grass-10: #53b365;
  --color-grass-11: #71d083;
  --color-grass-12: #c2f0c2;
}
