@theme {
  --color-grass-a1: #00de1205;
  --color-grass-a2: #5ef7780a;
  --color-grass-a3: #70fe8c1b;
  --color-grass-a4: #57ff802c;
  --color-grass-a5: #68ff8b3b;
  --color-grass-a6: #71ff8f4b;
  --color-grass-a7: #77fd925d;
  --color-grass-a8: #77fd9070;
  --color-grass-a9: #65ff82a1;
  --color-grass-a10: #72ff8dae;
  --color-grass-a11: #89ff9fcd;
  --color-grass-a12: #ceffceef;
}
