@theme {
  --color-grass-1: #fbfefb;
  --color-grass-2: #f5fbf5;
  --color-grass-3: #e9f6e9;
  --color-grass-4: #daf1db;
  --color-grass-5: #c9e8ca;
  --color-grass-6: #b2ddb5;
  --color-grass-7: #94ce9a;
  --color-grass-8: #65ba74;
  --color-grass-9: #46a758;
  --color-grass-10: #3e9b4f;
  --color-grass-11: #2a7e3b;
  --color-grass-12: #203c25;
}
