@theme {
  --color-grass-a1: #00c00004;
  --color-grass-a2: #0099000a;
  --color-grass-a3: #00970016;
  --color-grass-a4: #009f0725;
  --color-grass-a5: #00930536;
  --color-grass-a6: #008f0a4d;
  --color-grass-a7: #018b0f6b;
  --color-grass-a8: #008d199a;
  --color-grass-a9: #008619b9;
  --color-grass-a10: #007b17c1;
  --color-grass-a11: #006514d5;
  --color-grass-a12: #002006df;
}
