@theme {
  --color-gray-a1: #00000000;
  --color-gray-a2: #ffffff09;
  --color-gray-a3: #ffffff12;
  --color-gray-a4: #ffffff1b;
  --color-gray-a5: #ffffff22;
  --color-gray-a6: #ffffff2c;
  --color-gray-a7: #ffffff3b;
  --color-gray-a8: #ffffff55;
  --color-gray-a9: #ffffff64;
  --color-gray-a10: #ffffff72;
  --color-gray-a11: #ffffffaf;
  --color-gray-a12: #ffffffed;
}
