@theme {
  --color-gray-a1: #00000003;
  --color-gray-a2: #00000006;
  --color-gray-a3: #0000000f;
  --color-gray-a4: #00000017;
  --color-gray-a5: #0000001f;
  --color-gray-a6: #00000026;
  --color-gray-a7: #00000031;
  --color-gray-a8: #00000044;
  --color-gray-a9: #00000072;
  --color-gray-a10: #0000007c;
  --color-gray-a11: #0000009b;
  --color-gray-a12: #000000df;
}
