@theme {
  --color-green-a1: #00c04004;
  --color-green-a2: #00a32f0b;
  --color-green-a3: #00a43319;
  --color-green-a4: #00a83829;
  --color-green-a5: #019c393b;
  --color-green-a6: #00963c52;
  --color-green-a7: #00914071;
  --color-green-a8: #00924ba4;
  --color-green-a9: #008f4acf;
  --color-green-a10: #008647d4;
  --color-green-a11: #00713fde;
  --color-green-a12: #002616e6;
}
