@theme {
  --color-green-a1: #00de4505;
  --color-green-a2: #29f99d0b;
  --color-green-a3: #22ff991e;
  --color-green-a4: #11ff992d;
  --color-green-a5: #2bffa23c;
  --color-green-a6: #44ffaa4b;
  --color-green-a7: #50fdac5e;
  --color-green-a8: #54ffad73;
  --color-green-a9: #44ffa49e;
  --color-green-a10: #43fea4ab;
  --color-green-a11: #46fea5d4;
  --color-green-a12: #bbffd7f0;
}
