@theme {
  --color-indigo-1: #11131f;
  --color-indigo-2: #141726;
  --color-indigo-3: #182449;
  --color-indigo-4: #1d2e62;
  --color-indigo-5: #253974;
  --color-indigo-6: #304384;
  --color-indigo-7: #3a4f97;
  --color-indigo-8: #435db1;
  --color-indigo-9: #3e63dd;
  --color-indigo-10: #5472e4;
  --color-indigo-11: #9eb1ff;
  --color-indigo-12: #d6e1ff;
}
