@theme {
  --color-indigo-a1: #1133ff0f;
  --color-indigo-a2: #3354fa17;
  --color-indigo-a3: #2f62ff3c;
  --color-indigo-a4: #3566ff57;
  --color-indigo-a5: #4171fd6b;
  --color-indigo-a6: #5178fd7c;
  --color-indigo-a7: #5a7fff90;
  --color-indigo-a8: #5b81feac;
  --color-indigo-a9: #4671ffdb;
  --color-indigo-a10: #5c7efee3;
  --color-indigo-a11: #9eb1ff;
  --color-indigo-a12: #d6e1ff;
}
