@theme {
  --color-indigo-a1: #00008002;
  --color-indigo-a2: #0040ff08;
  --color-indigo-a3: #0047f112;
  --color-indigo-a4: #0044ff1e;
  --color-indigo-a5: #0044ff2d;
  --color-indigo-a6: #003eff3e;
  --color-indigo-a7: #0037ed54;
  --color-indigo-a8: #0034dc72;
  --color-indigo-a9: #0031d2c1;
  --color-indigo-a10: #002ec9cc;
  --color-indigo-a11: #002bb7c5;
  --color-indigo-a12: #001046e0;
}
