@theme {
  --color-iris-1: #13131e;
  --color-iris-2: #171625;
  --color-iris-3: #202248;
  --color-iris-4: #262a65;
  --color-iris-5: #303374;
  --color-iris-6: #3d3e82;
  --color-iris-7: #4a4a95;
  --color-iris-8: #5958b1;
  --color-iris-9: #5b5bd6;
  --color-iris-10: #6e6ade;
  --color-iris-11: #b1a9ff;
  --color-iris-12: #e0dffe;
}
