@theme {
  --iris-a1: #0000ff02;
  --iris-a2: #0000ff07;
  --iris-a3: #0011ee0f;
  --iris-a4: #000bff19;
  --iris-a5: #000eff25;
  --iris-a6: #000aff34;
  --iris-a7: #0008e647;
  --iris-a8: #0008d964;
  --iris-a9: #0000c0a4;
  --iris-a10: #0000b6ae;
  --iris-a11: #0600abac;
  --iris-a12: #000246d8;
}
