@theme {
  --color-iris-1: #fdfdff;
  --color-iris-2: #f8f8ff;
  --color-iris-3: #f0f1fe;
  --color-iris-4: #e6e7ff;
  --color-iris-5: #dadcff;
  --color-iris-6: #cbcdff;
  --color-iris-7: #b8baf8;
  --color-iris-8: #9b9ef0;
  --color-iris-9: #5b5bd6;
  --color-iris-10: #5151cd;
  --color-iris-11: #5753c6;
  --color-iris-12: #272962;
}
