@theme {
  --color-iris-a1: #3636fe0e;
  --color-iris-a2: #564bf916;
  --color-iris-a3: #525bff3b;
  --color-iris-a4: #4d58ff5a;
  --color-iris-a5: #5b62fd6b;
  --color-iris-a6: #6d6ffd7a;
  --color-iris-a7: #7777fe8e;
  --color-iris-a8: #7b7afeac;
  --color-iris-a9: #6a6afed4;
  --color-iris-a10: #7d79ffdc;
  --color-iris-a11: #b1a9ff;
  --color-iris-a12: #e1e0fffe;
}
