@theme {
  --color-jade-1: #0d1512;
  --color-jade-2: #121c18;
  --color-jade-3: #0f2e22;
  --color-jade-4: #0b3b2c;
  --color-jade-5: #114837;
  --color-jade-6: #1b5745;
  --color-jade-7: #246854;
  --color-jade-8: #2a7e68;
  --color-jade-9: #29a383;
  --color-jade-10: #27b08b;
  --color-jade-11: #1fd8a4;
  --color-jade-12: #adf0d4;
}
