@theme {
  --color-jade-1: #fbfefd;
  --color-jade-2: #f4fbf7;
  --color-jade-3: #e6f7ed;
  --color-jade-4: #d6f1e3;
  --color-jade-5: #c3e9d7;
  --color-jade-6: #acdec8;
  --color-jade-7: #8bceb6;
  --color-jade-8: #56ba9f;
  --color-jade-9: #29a383;
  --color-jade-10: #26997b;
  --color-jade-11: #208368;
  --color-jade-12: #1d3b31;
}
