@theme {
  --color-jade-a1: #00c08004;
  --color-jade-a2: #00a3460b;
  --color-jade-a3: #00ae4819;
  --color-jade-a4: #00a85129;
  --color-jade-a5: #00a2553c;
  --color-jade-a6: #009a5753;
  --color-jade-a7: #00945f74;
  --color-jade-a8: #00976ea9;
  --color-jade-a9: #00916bd6;
  --color-jade-a10: #008764d9;
  --color-jade-a11: #007152df;
  --color-jade-a12: #002217e2;
}
