@theme {
  --color-lime-1: #11130c;
  --color-lime-2: #151a10;
  --color-lime-3: #1f2917;
  --color-lime-4: #29371d;
  --color-lime-5: #334423;
  --color-lime-6: #3d522a;
  --color-lime-7: #496231;
  --color-lime-8: #577538;
  --color-lime-9: #bdee63;
  --color-lime-10: #d4ff70;
  --color-lime-11: #bde56c;
  --color-lime-12: #e3f7ba;
}
