@theme {
  --color-lime-1: #fcfdfa;
  --color-lime-2: #f8faf3;
  --color-lime-3: #eef6d6;
  --color-lime-4: #e2f0bd;
  --color-lime-5: #d3e7a6;
  --color-lime-6: #c2da91;
  --color-lime-7: #abc978;
  --color-lime-8: #8db654;
  --color-lime-9: #bdee63;
  --color-lime-10: #b0e64c;
  --color-lime-11: #5c7c2f;
  --color-lime-12: #37401c;
}
