@theme {
  --color-lime-a1: #11bb0003;
  --color-lime-a2: #78f7000a;
  --color-lime-a3: #9bfd4c1a;
  --color-lime-a4: #a7fe5c29;
  --color-lime-a5: #affe6537;
  --color-lime-a6: #b2fe6d46;
  --color-lime-a7: #b6ff6f57;
  --color-lime-a8: #b6fd6d6c;
  --color-lime-a9: #caff69ed;
  --color-lime-a10: #d4ff70;
  --color-lime-a11: #d1fe77e4;
  --color-lime-a12: #e9febff7;
}
