@theme {
  --color-mauve-1: #fdfcfd;
  --color-mauve-2: #faf9fb;
  --color-mauve-3: #f2eff3;
  --color-mauve-4: #eae7ec;
  --color-mauve-5: #e3dfe6;
  --color-mauve-6: #dbd8e0;
  --color-mauve-7: #d0cdd7;
  --color-mauve-8: #bcbac7;
  --color-mauve-9: #8e8c99;
  --color-mauve-10: #84828e;
  --color-mauve-11: #65636d;
  --color-mauve-12: #211f26;
}
