@theme {
  --color-mauve-1: #121113;
  --color-mauve-2: #1a191b;
  --color-mauve-3: #232225;
  --color-mauve-4: #2b292d;
  --color-mauve-5: #323035;
  --color-mauve-6: #3c393f;
  --color-mauve-7: #49474e;
  --color-mauve-8: #625f69;
  --color-mauve-9: #6f6d78;
  --color-mauve-10: #7c7a85;
  --color-mauve-11: #b5b2bc;
  --color-mauve-12: #eeeef0;
}
