@theme {
  --color-mint-1: #f9fefd;
  --color-mint-2: #f2fbf9;
  --color-mint-3: #ddf9f2;
  --color-mint-4: #c8f4e9;
  --color-mint-5: #b3ecde;
  --color-mint-6: #9ce0d0;
  --color-mint-7: #7ecfbd;
  --color-mint-8: #4cbba5;
  --color-mint-9: #86ead4;
  --color-mint-10: #7de0cb;
  --color-mint-11: #027864;
  --color-mint-12: #16433c;
}
