@theme {
  --color-mint-a1: #00dede05;
  --color-mint-a2: #00f9f90b;
  --color-mint-a3: #00fff61d;
  --color-mint-a4: #00fff42c;
  --color-mint-a5: #00fff23a;
  --color-mint-a6: #0effeb4a;
  --color-mint-a7: #34fde55e;
  --color-mint-a8: #41ffdf76;
  --color-mint-a9: #92ffe7e9;
  --color-mint-a10: #aefeedf5;
  --color-mint-a11: #67ffded2;
  --color-mint-a12: #cbfee9f5;
}
