@theme {
  --color-mint-1: #0e1515;
  --color-mint-2: #0f1b1b;
  --color-mint-3: #092c2b;
  --color-mint-4: #003a38;
  --color-mint-5: #004744;
  --color-mint-6: #105650;
  --color-mint-7: #1e685f;
  --color-mint-8: #277f70;
  --color-mint-9: #86ead4;
  --color-mint-10: #a8f5e5;
  --color-mint-11: #58d5ba;
  --color-mint-12: #c4f5e1;
}
