@theme {
  --mint-a1: #00d5aa06;
  --mint-a2: #00b18a0d;
  --mint-a3: #00d29e22;
  --mint-a4: #00cc9937;
  --mint-a5: #00c0914c;
  --mint-a6: #00b08663;
  --mint-a7: #00a17d81;
  --mint-a8: #009e7fb3;
  --mint-a9: #00d3a579;
  --mint-a10: #00c39982;
  --mint-a11: #007763fd;
  --mint-a12: #00312ae9;
}
