@theme {
  --color-olive-a1: #00550003;
  --color-olive-a2: #00490007;
  --color-olive-a3: #00200010;
  --color-olive-a4: #00160018;
  --color-olive-a5: #00180020;
  --color-olive-a6: #00140028;
  --color-olive-a7: #000f0033;
  --color-olive-a8: #040f0047;
  --color-olive-a9: #050f0078;
  --color-olive-a10: #040e0082;
  --color-olive-a11: #020a00a0;
  --color-olive-a12: #010600e3;
}
