@theme {
  --color-olive-1: #111210;
  --color-olive-2: #181917;
  --color-olive-3: #212220;
  --color-olive-4: #282a27;
  --color-olive-5: #2f312e;
  --color-olive-6: #383a36;
  --color-olive-7: #454843;
  --color-olive-8: #5c625b;
  --color-olive-9: #687066;
  --color-olive-10: #767d74;
  --color-olive-11: #afb5ad;
  --color-olive-12: #eceeec;
}
