@theme {
  --color-orange-a1: #c0400004;
  --color-orange-a2: #ff8e0012;
  --color-orange-a3: #ff9c0029;
  --color-orange-a4: #ff91014a;
  --color-orange-a5: #ff8b0065;
  --color-orange-a6: #ff81007d;
  --color-orange-a7: #ed6c008c;
  --color-orange-a8: #e35f00aa;
  --color-orange-a9: #f65e00ea;
  --color-orange-a10: #ef5f00;
  --color-orange-a11: #cc4e00;
  --color-orange-a12: #431200e2;
}
