@theme {
  --color-orange-a1: #ec360007;
  --color-orange-a2: #fe6d000e;
  --color-orange-a3: #fb6a0025;
  --color-orange-a4: #ff590039;
  --color-orange-a5: #ff61004a;
  --color-orange-a6: #fd75045c;
  --color-orange-a7: #ff832c75;
  --color-orange-a8: #fe84389d;
  --color-orange-a9: #fe6d15f7;
  --color-orange-a10: #ff801f;
  --color-orange-a11: #ffa057;
  --color-orange-a12: #ffe0c2;
}
