@theme {
  --color-orange-1: #17120e;
  --color-orange-2: #1e160f;
  --color-orange-3: #331e0b;
  --color-orange-4: #462100;
  --color-orange-5: #562800;
  --color-orange-6: #66350c;
  --color-orange-7: #7e451d;
  --color-orange-8: #a35829;
  --color-orange-9: #f76b15;
  --color-orange-10: #ff801f;
  --color-orange-11: #ffa057;
  --color-orange-12: #ffe0c2;
}
