@theme {
  --color-pink-a1: #ff00aa03;
  --color-pink-a2: #e0008008;
  --color-pink-a3: #f4008c16;
  --color-pink-a4: #e2008b23;
  --color-pink-a5: #d1008331;
  --color-pink-a6: #c0007840;
  --color-pink-a7: #b6006f53;
  --color-pink-a8: #af006f6c;
  --color-pink-a9: #c8007fbf;
  --color-pink-a10: #c2007ac7;
  --color-pink-a11: #b60074d6;
  --color-pink-a12: #59003bed;
}
