@theme {
  --color-pink-1: #fffcfe;
  --color-pink-2: #fef7fb;
  --color-pink-3: #fee9f5;
  --color-pink-4: #fbdcef;
  --color-pink-5: #f6cee7;
  --color-pink-6: #efbfdd;
  --color-pink-7: #e7acd0;
  --color-pink-8: #dd93c2;
  --color-pink-9: #d6409f;
  --color-pink-10: #cf3897;
  --color-pink-11: #c2298a;
  --color-pink-12: #651249;
}
