@theme {
  --color-plum-a1: #aa00ff03;
  --color-plum-a2: #c000c008;
  --color-plum-a3: #cc00cc14;
  --color-plum-a4: #c200c921;
  --color-plum-a5: #b700bd2e;
  --color-plum-a6: #a400b03d;
  --color-plum-a7: #9900a852;
  --color-plum-a8: #9000a56e;
  --color-plum-a9: #89009eb5;
  --color-plum-a10: #7f0092bb;
  --color-plum-a11: #730086c1;
  --color-plum-a12: #40004be6;
}
