@theme {
  --color-plum-1: #181118;
  --color-plum-2: #201320;
  --color-plum-3: #351a35;
  --color-plum-4: #451d47;
  --color-plum-5: #512454;
  --color-plum-6: #5e3061;
  --color-plum-7: #734079;
  --color-plum-8: #92549c;
  --color-plum-9: #ab4aba;
  --color-plum-10: #b658c4;
  --color-plum-11: #e796f3;
  --color-plum-12: #f4d4f4;
}
