@theme {
  --color-red-1: #191111;
  --color-red-2: #201314;
  --color-red-3: #3b1219;
  --color-red-4: #500f1c;
  --color-red-5: #611623;
  --color-red-6: #72232d;
  --color-red-7: #8c333a;
  --color-red-8: #b54548;
  --color-red-9: #e5484d;
  --color-red-10: #ec5d5e;
  --color-red-11: #ff9592;
  --color-red-12: #ffd1d9;
}
