@theme {
  --color-red-a1: #ff000003;
  --color-red-a2: #ff000008;
  --color-red-a3: #f3000d14;
  --color-red-a4: #ff000824;
  --color-red-a5: #ff000632;
  --color-red-a6: #f8000442;
  --color-red-a7: #df000356;
  --color-red-a8: #d2000571;
  --color-red-a9: #db0007b7;
  --color-red-a10: #d10005c1;
  --color-red-a11: #c40006d3;
  --color-red-a12: #55000de8;
}
