@theme {
  --color-ruby-1: #fffcfd;
  --color-ruby-2: #fff7f8;
  --color-ruby-3: #feeaed;
  --color-ruby-4: #ffdce1;
  --color-ruby-5: #ffced6;
  --color-ruby-6: #f8bfc8;
  --color-ruby-7: #efacb8;
  --color-ruby-8: #e592a3;
  --color-ruby-9: #e54666;
  --color-ruby-10: #dc3b5d;
  --color-ruby-11: #ca244d;
  --color-ruby-12: #64172b;
}
