@theme {
  --color-ruby-a1: #f4124a09;
  --color-ruby-a2: #fe5a7f0e;
  --color-ruby-a3: #ff235d2c;
  --color-ruby-a4: #fd195e42;
  --color-ruby-a5: #fe2d6b53;
  --color-ruby-a6: #ff447665;
  --color-ruby-a7: #ff577d80;
  --color-ruby-a8: #ff5c7cae;
  --color-ruby-a9: #fe4c70e4;
  --color-ruby-a10: #ff617beb;
  --color-ruby-a11: #ff949d;
  --color-ruby-a12: #ffd3e2fe;
}
