@theme {
  --color-sage-1: #fbfdfc;
  --color-sage-2: #f8faf9;
  --color-sage-3: #f1f4f3;
  --color-sage-4: #eaf0ee;
  --color-sage-5: #e4e9e7;
  --color-sage-6: #dce2e0;
  --color-sage-7: #d1d7d5;
  --color-sage-8: #bcc3c1;
  --color-sage-9: #8d9492;
  --color-sage-10: #838987;
  --color-sage-11: #656b69;
  --color-sage-12: #212422;
}
