@theme {
  --sage-a1: #00000000;
  --sage-a2: #f4f5f409;
  --sage-a3: #eaeaf814;
  --sage-a4: #e5eee81d;
  --sage-a5: #e6efe625;
  --sage-a6: #e6f1e630;
  --sage-a7: #e9eee940;
  --sage-a8: #e7eee75d;
  --sage-a9: #e6eae66e;
  --sage-a10: #e9ece97c;
  --sage-a11: #f1f5f1b7;
  --sage-a12: #fdfdfdef;
}
