@theme {
  --color-sand-1: #111110;
  --color-sand-2: #191918;
  --color-sand-3: #222221;
  --color-sand-4: #2a2a28;
  --color-sand-5: #31312e;
  --color-sand-6: #3b3a37;
  --color-sand-7: #494844;
  --color-sand-8: #62605b;
  --color-sand-9: #6f6d66;
  --color-sand-10: #7c7b74;
  --color-sand-11: #b5b3ad;
  --color-sand-12: #eeeeec;
}
