@theme {
  --color-sky-a1: #00d5ff06;
  --color-sky-a2: #00a4db0e;
  --color-sky-a3: #00b3ee1e;
  --color-sky-a4: #00ace42e;
  --color-sky-a5: #00a1d841;
  --color-sky-a6: #0092ca56;
  --color-sky-a7: #0089c172;
  --color-sky-a8: #0085bf9f;
  --color-sky-a9: #00c7fe83;
  --color-sky-a10: #00bcf38b;
  --color-sky-a11: #00749e;
  --color-sky-a12: #002540e2;
}
