@theme {
  --color-sky-1: #0d141f;
  --color-sky-2: #111a27;
  --color-sky-3: #112840;
  --color-sky-4: #113555;
  --color-sky-5: #154467;
  --color-sky-6: #1b537b;
  --color-sky-7: #1f6692;
  --color-sky-8: #197cae;
  --color-sky-9: #7ce2fe;
  --color-sky-10: #a8eeff;
  --color-sky-11: #75c7f0;
  --color-sky-12: #c2f3ff;
}
