@theme {
  --color-sky-a1: #0044ff0f;
  --color-sky-a2: #1171fb18;
  --color-sky-a3: #1184fc33;
  --color-sky-a4: #128fff49;
  --color-sky-a5: #1c9dfd5d;
  --color-sky-a6: #28a5ff72;
  --color-sky-a7: #2badfe8b;
  --color-sky-a8: #1db2fea9;
  --color-sky-a9: #7ce3fffe;
  --color-sky-a10: #a8eeff;
  --color-sky-a11: #7cd3ffef;
  --color-sky-a12: #c2f3ff;
}
