@theme {
  --color-slate-a1: #00005503;
  --color-slate-a2: #00005506;
  --color-slate-a3: #0000330f;
  --color-slate-a4: #00002d17;
  --color-slate-a5: #0009321f;
  --color-slate-a6: #00002f26;
  --color-slate-a7: #00062e32;
  --color-slate-a8: #00083046;
  --color-slate-a9: #00051d74;
  --color-slate-a10: #00071b7f;
  --color-slate-a11: #0007149f;
  --color-slate-a12: #000509e3;
}
