@theme {
  --color-slate-1: #111113;
  --color-slate-2: #18191b;
  --color-slate-3: #212225;
  --color-slate-4: #272a2d;
  --color-slate-5: #2e3135;
  --color-slate-6: #363a3f;
  --color-slate-7: #43484e;
  --color-slate-8: #5a6169;
  --color-slate-9: #696e77;
  --color-slate-10: #777b84;
  --color-slate-11: #b0b4ba;
  --color-slate-12: #edeef0;
}
