@theme {
  --color-teal-1: #0d1514;
  --color-teal-2: #111c1b;
  --color-teal-3: #0d2d2a;
  --color-teal-4: #023b37;
  --color-teal-5: #084843;
  --color-teal-6: #145750;
  --color-teal-7: #1c6961;
  --color-teal-8: #207e73;
  --color-teal-9: #12a594;
  --color-teal-10: #0eb39e;
  --color-teal-11: #0bd8b6;
  --color-teal-12: #adf0dd;
}
