@theme {
  --color-teal-1: #fafefd;
  --color-teal-2: #f3fbf9;
  --color-teal-3: #e0f8f3;
  --color-teal-4: #ccf3ea;
  --color-teal-5: #b8eae0;
  --color-teal-6: #a1ded2;
  --color-teal-7: #83cdc1;
  --color-teal-8: #53b9ab;
  --color-teal-9: #12a594;
  --color-teal-10: #0d9b8a;
  --color-teal-11: #008573;
  --color-teal-12: #0d3d38;
}
