@theme {
  --color-teal-a1: #00deab05;
  --color-teal-a2: #12fbe60c;
  --color-teal-a3: #00ffe61e;
  --color-teal-a4: #00ffe92d;
  --color-teal-a5: #00ffea3b;
  --color-teal-a6: #1cffe84b;
  --color-teal-a7: #2efde85f;
  --color-teal-a8: #32ffe775;
  --color-teal-a9: #13ffe49f;
  --color-teal-a10: #0dffe0ae;
  --color-teal-a11: #0afed5d6;
  --color-teal-a12: #b8ffebef;
}
