@theme {
  --color-tomato-1: #181111;
  --color-tomato-2: #1f1513;
  --color-tomato-3: #391714;
  --color-tomato-4: #4e1511;
  --color-tomato-5: #5e1c16;
  --color-tomato-6: #6e2920;
  --color-tomato-7: #853a2d;
  --color-tomato-8: #ac4d39;
  --color-tomato-9: #e54d2e;
  --color-tomato-10: #ec6142;
  --color-tomato-11: #ff977d;
  --color-tomato-12: #fbd3cb;
}
