@theme {
  --color-tomato-1: #fffcfc;
  --color-tomato-2: #fff8f7;
  --color-tomato-3: #feebe7;
  --color-tomato-4: #ffdcd3;
  --color-tomato-5: #ffcdc2;
  --color-tomato-6: #fdbdaf;
  --color-tomato-7: #f5a898;
  --color-tomato-8: #ec8e7b;
  --color-tomato-9: #e54d2e;
  --color-tomato-10: #dd4425;
  --color-tomato-11: #d13415;
  --color-tomato-12: #5c271f;
}
