@theme {
  --color-tomato-a1: #ff000003;
  --color-tomato-a2: #ff200008;
  --color-tomato-a3: #f52b0018;
  --color-tomato-a4: #ff35002c;
  --color-tomato-a5: #ff2e003d;
  --color-tomato-a6: #f92d0050;
  --color-tomato-a7: #e7280067;
  --color-tomato-a8: #db250084;
  --color-tomato-a9: #df2600d1;
  --color-tomato-a10: #d72400da;
  --color-tomato-a11: #cd2200ea;
  --color-tomato-a12: #460900e0;
}
