@theme {
  --color-violet-a1: #5500aa03;
  --color-violet-a2: #4900ff07;
  --color-violet-a3: #4400ee0f;
  --color-violet-a4: #4300ff1b;
  --color-violet-a5: #3600ff26;
  --color-violet-a6: #3100fb35;
  --color-violet-a7: #2d01dd4a;
  --color-violet-a8: #2b00d066;
  --color-violet-a9: #2400b7a9;
  --color-violet-a10: #2300abb2;
  --color-violet-a11: #1f0099af;
  --color-violet-a12: #0b0043d9;
}
