@theme {
  --color-violet-a1: #4422ff0f;
  --color-violet-a2: #853ff916;
  --color-violet-a3: #8354fe36;
  --color-violet-a4: #7d51fd50;
  --color-violet-a5: #845ffd5f;
  --color-violet-a6: #8f6cfd6d;
  --color-violet-a7: #9879ff83;
  --color-violet-a8: #977dfea8;
  --color-violet-a9: #8668ffcc;
  --color-violet-a10: #9176fed7;
  --color-violet-a11: #baa7ff;
  --color-violet-a12: #e3defffe;
}
