@theme {
  --color-violet-1: #fdfcfe;
  --color-violet-2: #faf8ff;
  --color-violet-3: #f4f0fe;
  --color-violet-4: #ebe4ff;
  --color-violet-5: #e1d9ff;
  --color-violet-6: #d4cafe;
  --color-violet-7: #c2b5f5;
  --color-violet-8: #aa99ec;
  --color-violet-9: #6e56cf;
  --color-violet-10: #654dc4;
  --color-violet-11: #6550b9;
  --color-violet-12: #2f265f;
}
