@theme {
  --color-violet-1: #14121f;
  --color-violet-2: #1b1525;
  --color-violet-3: #291f43;
  --color-violet-4: #33255b;
  --color-violet-5: #3c2e69;
  --color-violet-6: #473876;
  --color-violet-7: #56468b;
  --color-violet-8: #6958ad;
  --color-violet-9: #6e56cf;
  --color-violet-10: #7d66d9;
  --color-violet-11: #baa7ff;
  --color-violet-12: #e2ddfe;
}
