@theme {
  --color-yellow-1: #fdfdf9;
  --color-yellow-2: #fefce9;
  --color-yellow-3: #fffab8;
  --color-yellow-4: #fff394;
  --color-yellow-5: #ffe770;
  --color-yellow-6: #f3d768;
  --color-yellow-7: #e4c767;
  --color-yellow-8: #d5ae39;
  --color-yellow-9: #ffe629;
  --color-yellow-10: #ffdc00;
  --color-yellow-11: #9e6c00;
  --color-yellow-12: #473b1f;
}
