@theme {
  --color-yellow-1: #14120b;
  --color-yellow-2: #1b180f;
  --color-yellow-3: #2d2305;
  --color-yellow-4: #362b00;
  --color-yellow-5: #433500;
  --color-yellow-6: #524202;
  --color-yellow-7: #665417;
  --color-yellow-8: #836a21;
  --color-yellow-9: #ffe629;
  --color-yellow-10: #ffff57;
  --color-yellow-11: #f5e147;
  --color-yellow-12: #f6eeb4;
}
