@theme {
  --color-yellow-a1: #d1510004;
  --color-yellow-a2: #f9b4000b;
  --color-yellow-a3: #ffaa001e;
  --color-yellow-a4: #fdb70028;
  --color-yellow-a5: #febb0036;
  --color-yellow-a6: #fec40046;
  --color-yellow-a7: #fdcb225c;
  --color-yellow-a8: #fdca327b;
  --color-yellow-a9: #ffe629;
  --color-yellow-a10: #ffff57;
  --color-yellow-a11: #fee949f5;
  --color-yellow-a12: #fef6baf6;
}
