@theme {
  --color-primary-1: #16120c;
  --color-primary-2: #1d180f;
  --color-primary-3: #302008;
  --color-primary-4: #3f2700;
  --color-primary-5: #4d3000;
  --color-primary-6: #5c3d05;
  --color-primary-7: #714f19;
  --color-primary-8: #8f6424;
  --color-primary-9: #ffc53d;
  --color-primary-10: #ffd60a;
  --color-primary-11: #ffca16;
  --color-primary-12: #ffe7b3;
}
