@theme {
  --color-primary-a1: #c0800004;
  --color-primary-a2: #f4d10016;
  --color-primary-a3: #ffde003d;
  --color-primary-a4: #ffd40063;
  --color-primary-a5: #f8cf0088;
  --color-primary-a6: #eab5008c;
  --color-primary-a7: #dc9b009d;
  --color-primary-a8: #da8a00c9;
  --color-primary-a9: #ffb300c2;
  --color-primary-a10: #ffb300e7;
  --color-primary-a11: #ab6400;
  --color-primary-a12: #341500dd;
}
