@theme {
  --color-primary-1: #fefdfb;
  --color-primary-2: #fefbe9;
  --color-primary-3: #fff7c2;
  --color-primary-4: #ffee9c;
  --color-primary-5: #fbe577;
  --color-primary-6: #f3d673;
  --color-primary-7: #e9c162;
  --color-primary-8: #e2a336;
  --color-primary-9: #ffc53d;
  --color-primary-10: #ffba18;
  --color-primary-11: #ab6400;
  --color-primary-12: #4f3422;
}
