@theme {
  --color-primary-a1: #0080ff04;
  --color-primary-a2: #008cff0b;
  --color-primary-a3: #008ff519;
  --color-primary-a4: #009eff2a;
  --color-primary-a5: #0093ff3d;
  --color-primary-a6: #0088f653;
  --color-primary-a7: #0083eb71;
  --color-primary-a8: #0084e6a1;
  --color-primary-a9: #0090ff;
  --color-primary-a10: #0086f0fa;
  --color-primary-a11: #006dcbf2;
  --color-primary-a12: #002359ee;
}
