@theme {
  --color-primary: #0090ff;
  --color-primary-1: #0d1520;
  --color-primary-2: #111927;
  --color-primary-3: #0d2847;
  --color-primary-4: #003362;
  --color-primary-5: #004074;
  --color-primary-6: #104d87;
  --color-primary-7: #205d9e;
  --color-primary-8: #2870bd;
  --color-primary-9: #0090ff;
  --color-primary-10: #3b9eff;
  --color-primary-11: #70b8ff;
  --color-primary-12: #c2e6ff;
}
