@theme {
  --color-primary-a1: #d1110004;
  --color-primary-a2: #fbbc910c;
  --color-primary-a3: #faceb817;
  --color-primary-a4: #facdb622;
  --color-primary-a5: #ffd2c12d;
  --color-primary-a6: #ffd1c03c;
  --color-primary-a7: #fdd0c04f;
  --color-primary-a8: #ffd6c565;
  --color-primary-a9: #fec7b09b;
  --color-primary-a10: #fecab5a9;
  --color-primary-a11: #ffd7c6d1;
  --color-primary-a12: #fff1e9ec;
}
