@theme {
  --color-primary: #a18072;
  --color-primary-1: #141110;
  --color-primary-2: #1c1917;
  --color-primary-3: #262220;
  --color-primary-4: #302a27;
  --color-primary-5: #3b3330;
  --color-primary-6: #493e3a;
  --color-primary-7: #5a4c47;
  --color-primary-8: #6f5f58;
  --color-primary-9: #a18072;
  --color-primary-10: #ae8c7e;
  --color-primary-11: #d4b3a5;
  --color-primary-12: #ede0d9;
}
