@theme {
  --color-primary-1: #fdfcfc;
  --color-primary-2: #fdf7f5;
  --color-primary-3: #f6edea;
  --color-primary-4: #efe4df;
  --color-primary-5: #e7d9d3;
  --color-primary-6: #dfcdc5;
  --color-primary-7: #d3bcb3;
  --color-primary-8: #c2a499;
  --color-primary-9: #a18072;
  --color-primary-10: #957468;
  --color-primary-11: #7d5e54;
  --color-primary-12: #43302b;
}
