@theme {
  --color-primary-a1: #55000003;
  --color-primary-a2: #cc33000a;
  --color-primary-a3: #92250015;
  --color-primary-a4: #80280020;
  --color-primary-a5: #7423002c;
  --color-primary-a6: #7324003a;
  --color-primary-a7: #6c1f004c;
  --color-primary-a8: #671c0066;
  --color-primary-a9: #551a008d;
  --color-primary-a10: #4c150097;
  --color-primary-a11: #3d0f00ab;
  --color-primary-a12: #1d0600d4;
}
