@theme {
  --color-primary: #ad7f58;
  --color-primary-1: #fefdfc;
  --color-primary-2: #fcf9f6;
  --color-primary-3: #f6eee7;
  --color-primary-4: #f0e4d9;
  --color-primary-5: #ebdaca;
  --color-primary-6: #e4cdb7;
  --color-primary-7: #dcbc9f;
  --color-primary-8: #cea37e;
  --color-primary-9: #ad7f58;
  --color-primary-10: #a07553;
  --color-primary-11: #815e46;
  --color-primary-12: #3e332e;
}
