@theme {
  --color-primary: #ad7f58;
  --color-primary-1: #12110f;
  --color-primary-2: #1c1816;
  --color-primary-3: #28211d;
  --color-primary-4: #322922;
  --color-primary-5: #3e3128;
  --color-primary-6: #4d3c2f;
  --color-primary-7: #614a39;
  --color-primary-8: #7c5f46;
  --color-primary-9: #ad7f58;
  --color-primary-10: #b88c67;
  --color-primary-11: #dbb594;
  --color-primary-12: #f2e1ca;
}
