@theme {
  --color-primary-a1: #aa550003;
  --color-primary-a2: #aa550009;
  --color-primary-a3: #a04b0018;
  --color-primary-a4: #9b4a0026;
  --color-primary-a5: #9f4d0035;
  --color-primary-a6: #a04e0048;
  --color-primary-a7: #a34e0060;
  --color-primary-a8: #9f4a0081;
  --color-primary-a9: #823c00a7;
  --color-primary-a10: #723300ac;
  --color-primary-a11: #522100b9;
  --color-primary-a12: #140600d1;
}
