@theme {
  --color-primary-a1: #91110002;
  --color-primary-a2: #fba67c0c;
  --color-primary-a3: #fcb58c19;
  --color-primary-a4: #fbbb8a24;
  --color-primary-a5: #fcb88931;
  --color-primary-a6: #fdba8741;
  --color-primary-a7: #ffbb8856;
  --color-primary-a8: #ffbe8773;
  --color-primary-a9: #feb87da8;
  --color-primary-a10: #ffc18cb3;
  --color-primary-a11: #fed1aad9;
  --color-primary-a12: #feecd4f2;
}
