@theme {
  --color-primary: #e93d82;
  --color-primary-1: #fffcfd;
  --color-primary-2: #fef7f9;
  --color-primary-3: #ffe9f0;
  --color-primary-4: #fedce7;
  --color-primary-5: #facedd;
  --color-primary-6: #f3bed1;
  --color-primary-7: #eaacc3;
  --color-primary-8: #e093b2;
  --color-primary-9: #e93d82;
  --color-primary-10: #df3478;
  --color-primary-11: #cb1d63;
  --color-primary-12: #621639;
}
