@theme {
  --color-primary-a1: #f4126709;
  --color-primary-a2: #f22f7a11;
  --color-primary-a3: #fe2a8b2a;
  --color-primary-a4: #fd158741;
  --color-primary-a5: #fd278f51;
  --color-primary-a6: #fe459763;
  --color-primary-a7: #fd559b7f;
  --color-primary-a8: #fe5b9bab;
  --color-primary-a9: #fe418de8;
  --color-primary-a10: #ff5693ed;
  --color-primary-a11: #ff92ad;
  --color-primary-a12: #ffd5eafd;
}
