@theme {
  --color-primary-a1: #ff005503;
  --color-primary-a2: #e0004008;
  --color-primary-a3: #ff005216;
  --color-primary-a4: #f8005123;
  --color-primary-a5: #e5004f31;
  --color-primary-a6: #d0004b41;
  --color-primary-a7: #bf004753;
  --color-primary-a8: #b6004a6c;
  --color-primary-a9: #e2005bc2;
  --color-primary-a10: #d70056cb;
  --color-primary-a11: #c4004fe2;
  --color-primary-a12: #530026e9;
}
