@theme {
  --color-primary: #e93d82;
  --color-primary-1: #191114;
  --color-primary-2: #201318;
  --color-primary-3: #381525;
  --color-primary-4: #4d122f;
  --color-primary-5: #5c1839;
  --color-primary-6: #6d2545;
  --color-primary-7: #873356;
  --color-primary-8: #b0436e;
  --color-primary-9: #e93d82;
  --color-primary-10: #ee518a;
  --color-primary-11: #ff92ad;
  --color-primary-12: #fdd3e8;
}
