@theme {
  --color-primary: #00a2c7;
  --color-primary-1: #0b161a;
  --color-primary-2: #101b20;
  --color-primary-3: #082c36;
  --color-primary-4: #003848;
  --color-primary-5: #004558;
  --color-primary-6: #045468;
  --color-primary-7: #12677e;
  --color-primary-8: #11809c;
  --color-primary-9: #00a2c7;
  --color-primary-10: #23afd0;
  --color-primary-11: #4ccce6;
  --color-primary-12: #b6ecf7;
}
