@theme {
  --color-primary-a1: #0099cc05;
  --color-primary-a2: #009db10d;
  --color-primary-a3: #00c2d121;
  --color-primary-a4: #00bcd435;
  --color-primary-a5: #01b4cc4a;
  --color-primary-a6: #00a7c162;
  --color-primary-a7: #009fbb82;
  --color-primary-a8: #00a3c0c2;
  --color-primary-a9: #00a2c7;
  --color-primary-a10: #0094b7f8;
  --color-primary-a11: #007491ef;
  --color-primary-a12: #00323ef2;
}
