@theme {
  --color-primary-a1: #0091f70a;
  --color-primary-a2: #02a7f211;
  --color-primary-a3: #00befd28;
  --color-primary-a4: #00baff3b;
  --color-primary-a5: #00befd4d;
  --color-primary-a6: #00c7fd5e;
  --color-primary-a7: #14cdff75;
  --color-primary-a8: #11cfff95;
  --color-primary-a9: #00cfffc3;
  --color-primary-a10: #28d6ffcd;
  --color-primary-a11: #52e1fee5;
  --color-primary-a12: #bbf3fef7;
}
