@theme {
  --color-primary-a1: #55550003;
  --color-primary-a2: #9d8a000d;
  --color-primary-a3: #75600018;
  --color-primary-a4: #6b4e0024;
  --color-primary-a5: #60460030;
  --color-primary-a6: #64440040;
  --color-primary-a7: #63420055;
  --color-primary-a8: #633d0072;
  --color-primary-a9: #5332009a;
  --color-primary-a10: #492d00a1;
  --color-primary-a11: #362100b4;
  --color-primary-a12: #130c00d4;
}
