@theme {
  --color-primary: #978365;
  --color-primary-1: #fdfdfc;
  --color-primary-2: #faf9f2;
  --color-primary-3: #f2f0e7;
  --color-primary-4: #eae6db;
  --color-primary-5: #e1dccf;
  --color-primary-6: #d8d0bf;
  --color-primary-7: #cbc0aa;
  --color-primary-8: #b9a88d;
  --color-primary-9: #978365;
  --color-primary-10: #8c7a5e;
  --color-primary-11: #71624b;
  --color-primary-12: #3b352b;
}
