@theme {
  --color-primary-a1: #91911102;
  --color-primary-a2: #f9e29d0b;
  --color-primary-a3: #f8ecbb15;
  --color-primary-a4: #ffeec41e;
  --color-primary-a5: #feecc22a;
  --color-primary-a6: #feebcb37;
  --color-primary-a7: #ffedcd48;
  --color-primary-a8: #fdeaca5f;
  --color-primary-a9: #ffdba690;
  --color-primary-a10: #fedfb09d;
  --color-primary-a11: #fee7c6c8;
  --color-primary-a12: #fef7ede7;
}
