@theme {
  --color-primary: #46a758;
  --color-primary-1: #fbfefb;
  --color-primary-2: #f5fbf5;
  --color-primary-3: #e9f6e9;
  --color-primary-4: #daf1db;
  --color-primary-5: #c9e8ca;
  --color-primary-6: #b2ddb5;
  --color-primary-7: #94ce9a;
  --color-primary-8: #65ba74;
  --color-primary-9: #46a758;
  --color-primary-10: #3e9b4f;
  --color-primary-11: #2a7e3b;
  --color-primary-12: #203c25;
}
