@theme {
  --color-primary-a1: #00c00004;
  --color-primary-a2: #0099000a;
  --color-primary-a3: #00970016;
  --color-primary-a4: #009f0725;
  --color-primary-a5: #00930536;
  --color-primary-a6: #008f0a4d;
  --color-primary-a7: #018b0f6b;
  --color-primary-a8: #008d199a;
  --color-primary-a9: #008619b9;
  --color-primary-a10: #007b17c1;
  --color-primary-a11: #006514d5;
  --color-primary-a12: #002006df;
}
