@theme {
  --color-primary-a1: #00de1205;
  --color-primary-a2: #5ef7780a;
  --color-primary-a3: #70fe8c1b;
  --color-primary-a4: #57ff802c;
  --color-primary-a5: #68ff8b3b;
  --color-primary-a6: #71ff8f4b;
  --color-primary-a7: #77fd925d;
  --color-primary-a8: #77fd9070;
  --color-primary-a9: #65ff82a1;
  --color-primary-a10: #72ff8dae;
  --color-primary-a11: #89ff9fcd;
  --color-primary-a12: #ceffceef;
}
