@theme {
  --color-primary: #8d8d8d;
  --color-primary-1: #fcfcfc;
  --color-primary-2: #f9f9f9;
  --color-primary-3: #f0f0f0;
  --color-primary-4: #e8e8e8;
  --color-primary-5: #e0e0e0;
  --color-primary-6: #d9d9d9;
  --color-primary-7: #cecece;
  --color-primary-8: #bbbbbb;
  --color-primary-9: #8d8d8d;
  --color-primary-10: #838383;
  --color-primary-11: #646464;
  --color-primary-12: #202020;
}
