@theme {
  --color-primary-a1: #00000003;
  --color-primary-a2: #00000006;
  --color-primary-a3: #0000000f;
  --color-primary-a4: #00000017;
  --color-primary-a5: #0000001f;
  --color-primary-a6: #00000026;
  --color-primary-a7: #00000031;
  --color-primary-a8: #00000044;
  --color-primary-a9: #00000072;
  --color-primary-a10: #0000007c;
  --color-primary-a11: #0000009b;
  --color-primary-a12: #000000df;
}
