@theme {
  --color-primary-a1: #00000000;
  --color-primary-a2: #ffffff09;
  --color-primary-a3: #ffffff12;
  --color-primary-a4: #ffffff1b;
  --color-primary-a5: #ffffff22;
  --color-primary-a6: #ffffff2c;
  --color-primary-a7: #ffffff3b;
  --color-primary-a8: #ffffff55;
  --color-primary-a9: #ffffff64;
  --color-primary-a10: #ffffff72;
  --color-primary-a11: #ffffffaf;
  --color-primary-a12: #ffffffed;
}
