@theme {
  --color-primary-a1: #00c04004;
  --color-primary-a2: #00a32f0b;
  --color-primary-a3: #00a43319;
  --color-primary-a4: #00a83829;
  --color-primary-a5: #019c393b;
  --color-primary-a6: #00963c52;
  --color-primary-a7: #00914071;
  --color-primary-a8: #00924ba4;
  --color-primary-a9: #008f4acf;
  --color-primary-a10: #008647d4;
  --color-primary-a11: #00713fde;
  --color-primary-a12: #002616e6;
}
