@theme {
  --color-primary: #30a46c;
  --color-primary-1: #0e1512;
  --color-primary-2: #121b17;
  --color-primary-3: #132d21;
  --color-primary-4: #113b29;
  --color-primary-5: #174933;
  --color-primary-6: #20573e;
  --color-primary-7: #28684a;
  --color-primary-8: #2f7c57;
  --color-primary-9: #30a46c;
  --color-primary-10: #33b074;
  --color-primary-11: #3dd68c;
  --color-primary-12: #b1f1cb;
}
