@theme {
  --color-primary-1: #fbfefc;
  --color-primary-2: #f4fbf6;
  --color-primary-3: #e6f6eb;
  --color-primary-4: #d6f1df;
  --color-primary-5: #c4e8d1;
  --color-primary-6: #adddc0;
  --color-primary-7: #8eceaa;
  --color-primary-8: #5bb98b;
  --color-primary-9: #30a46c;
  --color-primary-10: #2b9a66;
  --color-primary-11: #218358;
  --color-primary-12: #193b2d;
}
