@theme {
  --color-primary-a1: #00de4505;
  --color-primary-a2: #29f99d0b;
  --color-primary-a3: #22ff991e;
  --color-primary-a4: #11ff992d;
  --color-primary-a5: #2bffa23c;
  --color-primary-a6: #44ffaa4b;
  --color-primary-a7: #50fdac5e;
  --color-primary-a8: #54ffad73;
  --color-primary-a9: #44ffa49e;
  --color-primary-a10: #43fea4ab;
  --color-primary-a11: #46fea5d4;
  --color-primary-a12: #bbffd7f0;
}
