@theme {
  --color-primary-a1: #1133ff0f;
  --color-primary-a2: #3354fa17;
  --color-primary-a3: #2f62ff3c;
  --color-primary-a4: #3566ff57;
  --color-primary-a5: #4171fd6b;
  --color-primary-a6: #5178fd7c;
  --color-primary-a7: #5a7fff90;
  --color-primary-a8: #5b81feac;
  --color-primary-a9: #4671ffdb;
  --color-primary-a10: #5c7efee3;
  --color-primary-a11: #9eb1ff;
  --color-primary-a12: #d6e1ff;
}
