@theme {
  --color-primary-a1: #00008002;
  --color-primary-a2: #0040ff08;
  --color-primary-a3: #0047f112;
  --color-primary-a4: #0044ff1e;
  --color-primary-a5: #0044ff2d;
  --color-primary-a6: #003eff3e;
  --color-primary-a7: #0037ed54;
  --color-primary-a8: #0034dc72;
  --color-primary-a9: #0031d2c1;
  --color-primary-a10: #002ec9cc;
  --color-primary-a11: #002bb7c5;
  --color-primary-a12: #001046e0;
}
