@theme {
  --color-primary-1: #fdfdfe;
  --color-primary-2: #f7f9ff;
  --color-primary-3: #edf2fe;
  --color-primary-4: #e1e9ff;
  --color-primary-5: #d2deff;
  --color-primary-6: #c1d0ff;
  --color-primary-7: #abbdf9;
  --color-primary-8: #8da4ef;
  --color-primary-9: #3e63dd;
  --color-primary-10: #3358d4;
  --color-primary-11: #3a5bc7;
  --color-primary-12: #1f2d5c;
}
