@theme {
  --color-primary-1: #11131f;
  --color-primary-2: #141726;
  --color-primary-3: #182449;
  --color-primary-4: #1d2e62;
  --color-primary-5: #253974;
  --color-primary-6: #304384;
  --color-primary-7: #3a4f97;
  --color-primary-8: #435db1;
  --color-primary-9: #3e63dd;
  --color-primary-10: #5472e4;
  --color-primary-11: #9eb1ff;
  --color-primary-12: #d6e1ff;
}
