@theme {
  --color-primary-a1: #3636fe0e;
  --color-primary-a2: #564bf916;
  --color-primary-a3: #525bff3b;
  --color-primary-a4: #4d58ff5a;
  --color-primary-a5: #5b62fd6b;
  --color-primary-a6: #6d6ffd7a;
  --color-primary-a7: #7777fe8e;
  --color-primary-a8: #7b7afeac;
  --color-primary-a9: #6a6afed4;
  --color-primary-a10: #7d79ffdc;
  --color-primary-a11: #b1a9ff;
  --color-primary-a12: #e1e0fffe;
}
