@theme {
  --color-primary-a1: #0000ff02;
  --color-primary-a2: #0000ff07;
  --color-primary-a3: #0011ee0f;
  --color-primary-a4: #000bff19;
  --color-primary-a5: #000eff25;
  --color-primary-a6: #000aff34;
  --color-primary-a7: #0008e647;
  --color-primary-a8: #0008d964;
  --color-primary-a9: #0000c0a4;
  --color-primary-a10: #0000b6ae;
  --color-primary-a11: #0600abac;
  --color-primary-a12: #000246d8;
}
