@theme {
  --color-primary-1: #fdfdff;
  --color-primary-2: #f8f8ff;
  --color-primary-3: #f0f1fe;
  --color-primary-4: #e6e7ff;
  --color-primary-5: #dadcff;
  --color-primary-6: #cbcdff;
  --color-primary-7: #b8baf8;
  --color-primary-8: #9b9ef0;
  --color-primary-9: #5b5bd6;
  --color-primary-10: #5151cd;
  --color-primary-11: #5753c6;
  --color-primary-12: #272962;
}
