@theme {
  --color-primary-1: #13131e;
  --color-primary-2: #171625;
  --color-primary-3: #202248;
  --color-primary-4: #262a65;
  --color-primary-5: #303374;
  --color-primary-6: #3d3e82;
  --color-primary-7: #4a4a95;
  --color-primary-8: #5958b1;
  --color-primary-9: #5b5bd6;
  --color-primary-10: #6e6ade;
  --color-primary-11: #b1a9ff;
  --color-primary-12: #e0dffe;
}
