@theme {
  --color-primary-a1: #00c08004;
  --color-primary-a2: #00a3460b;
  --color-primary-a3: #00ae4819;
  --color-primary-a4: #00a85129;
  --color-primary-a5: #00a2553c;
  --color-primary-a6: #009a5753;
  --color-primary-a7: #00945f74;
  --color-primary-a8: #00976ea9;
  --color-primary-a9: #00916bd6;
  --color-primary-a10: #008764d9;
  --color-primary-a11: #007152df;
  --color-primary-a12: #002217e2;
}
