@theme {
  --color-primary-1: #0d1512;
  --color-primary-2: #121c18;
  --color-primary-3: #0f2e22;
  --color-primary-4: #0b3b2c;
  --color-primary-5: #114837;
  --color-primary-6: #1b5745;
  --color-primary-7: #246854;
  --color-primary-8: #2a7e68;
  --color-primary-9: #29a383;
  --color-primary-10: #27b08b;
  --color-primary-11: #1fd8a4;
  --color-primary-12: #adf0d4;
}
