@theme {
  --color-primary-1: #fbfefd;
  --color-primary-2: #f4fbf7;
  --color-primary-3: #e6f7ed;
  --color-primary-4: #d6f1e3;
  --color-primary-5: #c3e9d7;
  --color-primary-6: #acdec8;
  --color-primary-7: #8bceb6;
  --color-primary-8: #56ba9f;
  --color-primary-9: #29a383;
  --color-primary-10: #26997b;
  --color-primary-11: #208368;
  --color-primary-12: #1d3b31;
}
