@theme {
  --color-primary-a1: #00de4505;
  --color-primary-a2: #27fba60c;
  --color-primary-a3: #02f99920;
  --color-primary-a4: #00ffaa2d;
  --color-primary-a5: #11ffb63b;
  --color-primary-a6: #34ffc24b;
  --color-primary-a7: #45fdc75e;
  --color-primary-a8: #48ffcf75;
  --color-primary-a9: #38feca9d;
  --color-primary-a10: #31fec7ab;
  --color-primary-a11: #21fec0d6;
  --color-primary-a12: #b8ffe1ef;
}
