@theme {
  --color-primary: #bdee63;
  --color-primary-1: #fcfdfa;
  --color-primary-2: #f8faf3;
  --color-primary-3: #eef6d6;
  --color-primary-4: #e2f0bd;
  --color-primary-5: #d3e7a6;
  --color-primary-6: #c2da91;
  --color-primary-7: #abc978;
  --color-primary-8: #8db654;
  --color-primary-9: #bdee63;
  --color-primary-10: #b0e64c;
  --color-primary-11: #5c7c2f;
  --color-primary-12: #37401c;
}
