@theme {
  --color-primary-a1: #66990005;
  --color-primary-a2: #6b95000c;
  --color-primary-a3: #96c80029;
  --color-primary-a4: #8fc60042;
  --color-primary-a5: #81bb0059;
  --color-primary-a6: #72aa006e;
  --color-primary-a7: #61990087;
  --color-primary-a8: #559200ab;
  --color-primary-a9: #93e4009c;
  --color-primary-a10: #8fdc00b3;
  --color-primary-a11: #375f00d0;
  --color-primary-a12: #1e2900e3;
}
