@theme {
  --color-primary: #bdee63;
  --color-primary-1: #11130c;
  --color-primary-2: #151a10;
  --color-primary-3: #1f2917;
  --color-primary-4: #29371d;
  --color-primary-5: #334423;
  --color-primary-6: #3d522a;
  --color-primary-7: #496231;
  --color-primary-8: #577538;
  --color-primary-9: #bdee63;
  --color-primary-10: #d4ff70;
  --color-primary-11: #bde56c;
  --color-primary-12: #e3f7ba;
}
