@theme {
  --color-primary-a1: #11bb0003;
  --color-primary-a2: #78f7000a;
  --color-primary-a3: #9bfd4c1a;
  --color-primary-a4: #a7fe5c29;
  --color-primary-a5: #affe6537;
  --color-primary-a6: #b2fe6d46;
  --color-primary-a7: #b6ff6f57;
  --color-primary-a8: #b6fd6d6c;
  --color-primary-a9: #caff69ed;
  --color-primary-a10: #d4ff70;
  --color-primary-a11: #d1fe77e4;
  --color-primary-a12: #e9febff7;
}
