@theme {
  --color-primary-1: #121113;
  --color-primary-2: #1a191b;
  --color-primary-3: #232225;
  --color-primary-4: #2b292d;
  --color-primary-5: #323035;
  --color-primary-6: #3c393f;
  --color-primary-7: #49474e;
  --color-primary-8: #625f69;
  --color-primary-9: #6f6d78;
  --color-primary-10: #7c7a85;
  --color-primary-11: #b5b2bc;
  --color-primary-12: #eeeef0;
}
