@theme {
  --color-primary-a1: #55005503;
  --color-primary-a2: #2b005506;
  --color-primary-a3: #30004010;
  --color-primary-a4: #20003618;
  --color-primary-a5: #20003820;
  --color-primary-a6: #14003527;
  --color-primary-a7: #10003332;
  --color-primary-a8: #08003145;
  --color-primary-a9: #05001d73;
  --color-primary-a10: #0500197d;
  --color-primary-a11: #0400119c;
  --color-primary-a12: #020008e0;
}
