@theme {
  --color-primary-a1: #00000000;
  --color-primary-a2: #f5f4f609;
  --color-primary-a3: #ebeaf814;
  --color-primary-a4: #eee5f81d;
  --color-primary-a5: #efe6fe25;
  --color-primary-a6: #f1e6fd30;
  --color-primary-a7: #eee9ff40;
  --color-primary-a8: #eee7ff5d;
  --color-primary-a9: #eae6fd6e;
  --color-primary-a10: #ece9fd7c;
  --color-primary-a11: #f5f1ffb7;
  --color-primary-a12: #fdfdffef;
}
