@theme {
  --color-primary: #8e8c99;
  --color-primary-1: #fdfcfd;
  --color-primary-2: #faf9fb;
  --color-primary-3: #f2eff3;
  --color-primary-4: #eae7ec;
  --color-primary-5: #e3dfe6;
  --color-primary-6: #dbd8e0;
  --color-primary-7: #d0cdd7;
  --color-primary-8: #bcbac7;
  --color-primary-9: #8e8c99;
  --color-primary-10: #84828e;
  --color-primary-11: #65636d;
  --color-primary-12: #211f26;
}
