@theme {
  --color-primary: #86ead4;
  --color-primary-1: #f9fefd;
  --color-primary-2: #f2fbf9;
  --color-primary-3: #ddf9f2;
  --color-primary-4: #c8f4e9;
  --color-primary-5: #b3ecde;
  --color-primary-6: #9ce0d0;
  --color-primary-7: #7ecfbd;
  --color-primary-8: #4cbba5;
  --color-primary-9: #86ead4;
  --color-primary-10: #7de0cb;
  --color-primary-11: #027864;
  --color-primary-12: #16433c;
}
