@theme {
  --color-primary-1: #0e1515;
  --color-primary-2: #0f1b1b;
  --color-primary-3: #092c2b;
  --color-primary-4: #003a38;
  --color-primary-5: #004744;
  --color-primary-6: #105650;
  --color-primary-7: #1e685f;
  --color-primary-8: #277f70;
  --color-primary-9: #86ead4;
  --color-primary-10: #a8f5e5;
  --color-primary-11: #58d5ba;
  --color-primary-12: #c4f5e1;
}
