@theme {
  --color-primary-a1: #00dede05;
  --color-primary-a2: #00f9f90b;
  --color-primary-a3: #00fff61d;
  --color-primary-a4: #00fff42c;
  --color-primary-a5: #00fff23a;
  --color-primary-a6: #0effeb4a;
  --color-primary-a7: #34fde55e;
  --color-primary-a8: #41ffdf76;
  --color-primary-a9: #92ffe7e9;
  --color-primary-a10: #aefeedf5;
  --color-primary-a11: #67ffded2;
  --color-primary-a12: #cbfee9f5;
}
