@theme {
  --color-primary-a1: #00d5aa06;
  --color-primary-a2: #00b18a0d;
  --color-primary-a3: #00d29e22;
  --color-primary-a4: #00cc9937;
  --color-primary-a5: #00c0914c;
  --color-primary-a6: #00b08663;
  --color-primary-a7: #00a17d81;
  --color-primary-a8: #009e7fb3;
  --color-primary-a9: #00d3a579;
  --color-primary-a10: #00c39982;
  --color-primary-a11: #007763fd;
  --color-primary-a12: #00312ae9;
}
