@theme {
  --color-primary-1: #fcfdfc;
  --color-primary-2: #f8faf8;
  --color-primary-3: #eff1ef;
  --color-primary-4: #e7e9e7;
  --color-primary-5: #dfe2df;
  --color-primary-6: #d7dad7;
  --color-primary-7: #cccfcc;
  --color-primary-8: #b9bcb8;
  --color-primary-9: #898e87;
  --color-primary-10: #7f847d;
  --color-primary-11: #60655f;
  --color-primary-12: #1d211c;
}
