@theme {
  --color-primary-a1: #00550003;
  --color-primary-a2: #00490007;
  --color-primary-a3: #00200010;
  --color-primary-a4: #00160018;
  --color-primary-a5: #00180020;
  --color-primary-a6: #00140028;
  --color-primary-a7: #000f0033;
  --color-primary-a8: #040f0047;
  --color-primary-a9: #050f0078;
  --color-primary-a10: #040e0082;
  --color-primary-a11: #020a00a0;
  --color-primary-a12: #010600e3;
}
