@theme {
  --color-primary-1: #111210;
  --color-primary-2: #181917;
  --color-primary-3: #212220;
  --color-primary-4: #282a27;
  --color-primary-5: #2f312e;
  --color-primary-6: #383a36;
  --color-primary-7: #454843;
  --color-primary-8: #5c625b;
  --color-primary-9: #687066;
  --color-primary-10: #767d74;
  --color-primary-11: #afb5ad;
  --color-primary-12: #eceeec;
}
