@theme {
  --color-primary-a1: #00000000;
  --color-primary-a2: #f1f2f008;
  --color-primary-a3: #f4f5f312;
  --color-primary-a4: #f3fef21a;
  --color-primary-a5: #f2fbf122;
  --color-primary-a6: #f4faed2c;
  --color-primary-a7: #f2fced3b;
  --color-primary-a8: #edfdeb57;
  --color-primary-a9: #ebfde766;
  --color-primary-a10: #f0fdec74;
  --color-primary-a11: #f6fef4b0;
  --color-primary-a12: #fdfffded;
}
