@theme {
  --color-primary-a1: #c0400004;
  --color-primary-a2: #ff8e0012;
  --color-primary-a3: #ff9c0029;
  --color-primary-a4: #ff91014a;
  --color-primary-a5: #ff8b0065;
  --color-primary-a6: #ff81007d;
  --color-primary-a7: #ed6c008c;
  --color-primary-a8: #e35f00aa;
  --color-primary-a9: #f65e00ea;
  --color-primary-a10: #ef5f00;
  --color-primary-a11: #cc4e00;
  --color-primary-a12: #431200e2;
}
