@theme {
  --color-primary-a1: #ec360007;
  --color-primary-a2: #fe6d000e;
  --color-primary-a3: #fb6a0025;
  --color-primary-a4: #ff590039;
  --color-primary-a5: #ff61004a;
  --color-primary-a6: #fd75045c;
  --color-primary-a7: #ff832c75;
  --color-primary-a8: #fe84389d;
  --color-primary-a9: #fe6d15f7;
  --color-primary-a10: #ff801f;
  --color-primary-a11: #ffa057;
  --color-primary-a12: #ffe0c2;
}
