@theme {
  --color-primary: #f76b15;
  --color-primary-1: #17120e;
  --color-primary-2: #1e160f;
  --color-primary-3: #331e0b;
  --color-primary-4: #462100;
  --color-primary-5: #562800;
  --color-primary-6: #66350c;
  --color-primary-7: #7e451d;
  --color-primary-8: #a35829;
  --color-primary-9: #f76b15;
  --color-primary-10: #ff801f;
  --color-primary-11: #ffa057;
  --color-primary-12: #ffe0c2;
}
