@theme {
  --color-primary-a1: #ff00aa03;
  --color-primary-a2: #e0008008;
  --color-primary-a3: #f4008c16;
  --color-primary-a4: #e2008b23;
  --color-primary-a5: #d1008331;
  --color-primary-a6: #c0007840;
  --color-primary-a7: #b6006f53;
  --color-primary-a8: #af006f6c;
  --color-primary-a9: #c8007fbf;
  --color-primary-a10: #c2007ac7;
  --color-primary-a11: #b60074d6;
  --color-primary-a12: #59003bed;
}
