@theme {
  --color-primary-1: #191117;
  --color-primary-2: #21121d;
  --color-primary-3: #37172f;
  --color-primary-4: #4b143d;
  --color-primary-5: #591c47;
  --color-primary-6: #692955;
  --color-primary-7: #833869;
  --color-primary-8: #a84885;
  --color-primary-9: #d6409f;
  --color-primary-10: #de51a8;
  --color-primary-11: #ff8dcc;
  --color-primary-12: #fdd1ea;
}
