@theme {
  --color-primary-1: #fffcfe;
  --color-primary-2: #fef7fb;
  --color-primary-3: #fee9f5;
  --color-primary-4: #fbdcef;
  --color-primary-5: #f6cee7;
  --color-primary-6: #efbfdd;
  --color-primary-7: #e7acd0;
  --color-primary-8: #dd93c2;
  --color-primary-9: #d6409f;
  --color-primary-10: #cf3897;
  --color-primary-11: #c2298a;
  --color-primary-12: #651249;
}
