@theme {
  --color-primary-a1: #f412bc09;
  --color-primary-a2: #f420bb12;
  --color-primary-a3: #fe37cc29;
  --color-primary-a4: #fc1ec43f;
  --color-primary-a5: #fd35c24e;
  --color-primary-a6: #fd51c75f;
  --color-primary-a7: #fd62c87b;
  --color-primary-a8: #ff68c8a2;
  --color-primary-a9: #fe49bcd4;
  --color-primary-a10: #ff5cc0dc;
  --color-primary-a11: #ff8dcc;
  --color-primary-a12: #ffd3ecfd;
}
