@theme {
  --color-primary-a1: #aa00ff03;
  --color-primary-a2: #c000c008;
  --color-primary-a3: #cc00cc14;
  --color-primary-a4: #c200c921;
  --color-primary-a5: #b700bd2e;
  --color-primary-a6: #a400b03d;
  --color-primary-a7: #9900a852;
  --color-primary-a8: #9000a56e;
  --color-primary-a9: #89009eb5;
  --color-primary-a10: #7f0092bb;
  --color-primary-a11: #730086c1;
  --color-primary-a12: #40004be6;
}
