@theme {
  --color-primary-a1: #f112f108;
  --color-primary-a2: #f22ff211;
  --color-primary-a3: #fd4cfd27;
  --color-primary-a4: #f646ff3a;
  --color-primary-a5: #f455ff48;
  --color-primary-a6: #f66dff56;
  --color-primary-a7: #f07cfd70;
  --color-primary-a8: #ee84ff95;
  --color-primary-a9: #e961feb6;
  --color-primary-a10: #ed70ffc0;
  --color-primary-a11: #f19cfef3;
  --color-primary-a12: #feddfef4;
}
