@theme {
  --color-primary-1: #181118;
  --color-primary-2: #201320;
  --color-primary-3: #351a35;
  --color-primary-4: #451d47;
  --color-primary-5: #512454;
  --color-primary-6: #5e3061;
  --color-primary-7: #734079;
  --color-primary-8: #92549c;
  --color-primary-9: #ab4aba;
  --color-primary-10: #b658c4;
  --color-primary-11: #e796f3;
  --color-primary-12: #f4d4f4;
}
