@theme {
  --color-primary-1: #18111b;
  --color-primary-2: #1e1523;
  --color-primary-3: #301c3b;
  --color-primary-4: #3d224e;
  --color-primary-5: #48295c;
  --color-primary-6: #54346b;
  --color-primary-7: #664282;
  --color-primary-8: #8457aa;
  --color-primary-9: #8e4ec6;
  --color-primary-10: #9a5cd0;
  --color-primary-11: #d19dff;
  --color-primary-12: #ecd9fa;
}
