@theme {
  --color-primary-a1: #b412f90b;
  --color-primary-a2: #b744f714;
  --color-primary-a3: #c150ff2d;
  --color-primary-a4: #bb53fd42;
  --color-primary-a5: #be5cfd51;
  --color-primary-a6: #c16dfd61;
  --color-primary-a7: #c378fd7a;
  --color-primary-a8: #c47effa4;
  --color-primary-a9: #b661ffc2;
  --color-primary-a10: #bc6fffcd;
  --color-primary-a11: #d19dff;
  --color-primary-a12: #f1ddfffa;
}
