@theme {
  --color-primary: #8e4ec6;
  --color-primary-1: #fefcfe;
  --color-primary-2: #fbf7fe;
  --color-primary-3: #f7edfe;
  --color-primary-4: #f2e2fc;
  --color-primary-5: #ead5f9;
  --color-primary-6: #e0c4f4;
  --color-primary-7: #d1afec;
  --color-primary-8: #be93e4;
  --color-primary-9: #8e4ec6;
  --color-primary-10: #8347b9;
  --color-primary-11: #8145b5;
  --color-primary-12: #402060;
}
