@theme {
  --color-primary-a1: #aa00aa03;
  --color-primary-a2: #8000e008;
  --color-primary-a3: #8e00f112;
  --color-primary-a4: #8d00e51d;
  --color-primary-a5: #8000db2a;
  --color-primary-a6: #7a01d03b;
  --color-primary-a7: #6d00c350;
  --color-primary-a8: #6600c06c;
  --color-primary-a9: #5c00adb1;
  --color-primary-a10: #53009eb8;
  --color-primary-a11: #52009aba;
  --color-primary-a12: #250049df;
}
