@theme {
  --color-primary-a1: #f4121209;
  --color-primary-a2: #f22f3e11;
  --color-primary-a3: #ff173f2d;
  --color-primary-a4: #fe0a3b44;
  --color-primary-a5: #ff204756;
  --color-primary-a6: #ff3e5668;
  --color-primary-a7: #ff536184;
  --color-primary-a8: #ff5d61b0;
  --color-primary-a9: #fe4e54e4;
  --color-primary-a10: #ff6465eb;
  --color-primary-a11: #ff9592;
  --color-primary-a12: #ffd1d9;
}
