@theme {
  --color-primary-a1: #ff000003;
  --color-primary-a2: #ff000008;
  --color-primary-a3: #f3000d14;
  --color-primary-a4: #ff000824;
  --color-primary-a5: #ff000632;
  --color-primary-a6: #f8000442;
  --color-primary-a7: #df000356;
  --color-primary-a8: #d2000571;
  --color-primary-a9: #db0007b7;
  --color-primary-a10: #d10005c1;
  --color-primary-a11: #c40006d3;
  --color-primary-a12: #55000de8;
}
