@theme {
  --color-primary: #e5484d;
  --color-primary-1: #191111;
  --color-primary-2: #201314;
  --color-primary-3: #3b1219;
  --color-primary-4: #500f1c;
  --color-primary-5: #611623;
  --color-primary-6: #72232d;
  --color-primary-7: #8c333a;
  --color-primary-8: #b54548;
  --color-primary-9: #e5484d;
  --color-primary-10: #ec5d5e;
  --color-primary-11: #ff9592;
  --color-primary-12: #ffd1d9;
}
