@theme {
  --color-primary: #e5484d;
  --color-primary-1: #fffcfc;
  --color-primary-2: #fff7f7;
  --color-primary-3: #feebec;
  --color-primary-4: #ffdbdc;
  --color-primary-5: #ffcdce;
  --color-primary-6: #fdbdbe;
  --color-primary-7: #f4a9aa;
  --color-primary-8: #eb8e90;
  --color-primary-9: #e5484d;
  --color-primary-10: #dc3e42;
  --color-primary-11: #ce2c31;
  --color-primary-12: #641723;
}
