@theme {
  --color-primary-1: #fffcfd;
  --color-primary-2: #fff7f8;
  --color-primary-3: #feeaed;
  --color-primary-4: #ffdce1;
  --color-primary-5: #ffced6;
  --color-primary-6: #f8bfc8;
  --color-primary-7: #efacb8;
  --color-primary-8: #e592a3;
  --color-primary-9: #e54666;
  --color-primary-10: #dc3b5d;
  --color-primary-11: #ca244d;
  --color-primary-12: #64172b;
}
