@theme {
  --color-primary-a1: #f4124a09;
  --color-primary-a2: #fe5a7f0e;
  --color-primary-a3: #ff235d2c;
  --color-primary-a4: #fd195e42;
  --color-primary-a5: #fe2d6b53;
  --color-primary-a6: #ff447665;
  --color-primary-a7: #ff577d80;
  --color-primary-a8: #ff5c7cae;
  --color-primary-a9: #fe4c70e4;
  --color-primary-a10: #ff617beb;
  --color-primary-a11: #ff949d;
  --color-primary-a12: #ffd3e2fe;
}
