@theme {
  --color-primary: #6e706e;
  --color-primary-1: #111211;
  --color-primary-2: #191a19;
  --color-primary-3: #222322;
  --color-primary-4: #2a2b2a;
  --color-primary-5: #313231;
  --color-primary-6: #3a3c3a;
  --color-primary-7: #484a48;
  --color-primary-8: #606260;
  --color-primary-9: #6e706e;
  --color-primary-10: #7b7d7b;
  --color-primary-11: #b4b5b4;
  --color-primary-12: #eeefee;
}
