@theme {
  --color-primary-a1: #00000000;
  --color-primary-a2: #f4f5f409;
  --color-primary-a3: #eaeaf814;
  --color-primary-a4: #e5eee81d;
  --color-primary-a5: #e6efe625;
  --color-primary-a6: #e6f1e630;
  --color-primary-a7: #e9eee940;
  --color-primary-a8: #e7eee75d;
  --color-primary-a9: #e6eae66e;
  --color-primary-a10: #e9ece97c;
  --color-primary-a11: #f1f5f1b7;
  --color-primary-a12: #fdfdfdef;
}
