@theme {
  --color-primary-1: #fbfdfc;
  --color-primary-2: #f8faf9;
  --color-primary-3: #f1f4f3;
  --color-primary-4: #eaf0ee;
  --color-primary-5: #e4e9e7;
  --color-primary-6: #dce2e0;
  --color-primary-7: #d1d7d5;
  --color-primary-8: #bcc3c1;
  --color-primary-9: #8d9492;
  --color-primary-10: #838987;
  --color-primary-11: #656b69;
  --color-primary-12: #212422;
}
