@theme {
  --color-primary-a1: #00804003;
  --color-primary-a2: #00402006;
  --color-primary-a3: #00402010;
  --color-primary-a4: #00402018;
  --color-primary-a5: #00402020;
  --color-primary-a6: #00402027;
  --color-primary-a7: #00402032;
  --color-primary-a8: #00402045;
  --color-primary-a9: #00301873;
  --color-primary-a10: #0030187d;
  --color-primary-a11: #0020109c;
  --color-primary-a12: #00100ae0;
}
