@theme {
  --color-primary-1: #111110;
  --color-primary-2: #191918;
  --color-primary-3: #222221;
  --color-primary-4: #2a2a28;
  --color-primary-5: #31312e;
  --color-primary-6: #3b3a37;
  --color-primary-7: #494844;
  --color-primary-8: #62605b;
  --color-primary-9: #6f6d66;
  --color-primary-10: #7c7b74;
  --color-primary-11: #b5b3ad;
  --color-primary-12: #eeeeec;
}
