@theme {
  --color-primary: #8d8d86;
  --color-primary-1: #fdfdfc;
  --color-primary-2: #f9f9f8;
  --color-primary-3: #f1f0ef;
  --color-primary-4: #e9e8e6;
  --color-primary-5: #e2e1de;
  --color-primary-6: #dad9d6;
  --color-primary-7: #cfceca;
  --color-primary-8: #bcbbb5;
  --color-primary-9: #8d8d86;
  --color-primary-10: #82827c;
  --color-primary-11: #63635e;
  --color-primary-12: #21201c;
}
