@theme {
  --color-primary-a1: #00000000;
  --color-primary-a2: #f4f4f309;
  --color-primary-a3: #f6f6f513;
  --color-primary-a4: #fefef31b;
  --color-primary-a5: #fbfbeb23;
  --color-primary-a6: #fffaed2d;
  --color-primary-a7: #fffbed3c;
  --color-primary-a8: #fff9eb57;
  --color-primary-a9: #fffae965;
  --color-primary-a10: #fffdee73;
  --color-primary-a11: #fffcf4b0;
  --color-primary-a12: #fffffded;
}
