@theme {
  --color-primary-a1: #55550003;
  --color-primary-a2: #25250007;
  --color-primary-a3: #20100010;
  --color-primary-a4: #1f150019;
  --color-primary-a5: #1f180021;
  --color-primary-a6: #19130029;
  --color-primary-a7: #19140035;
  --color-primary-a8: #1915014a;
  --color-primary-a9: #0f0f0079;
  --color-primary-a10: #0c0c0083;
  --color-primary-a11: #080800a1;
  --color-primary-a12: #060500e3;
}
