@theme {
  --color-primary-a1: #00d5ff06;
  --color-primary-a2: #00a4db0e;
  --color-primary-a3: #00b3ee1e;
  --color-primary-a4: #00ace42e;
  --color-primary-a5: #00a1d841;
  --color-primary-a6: #0092ca56;
  --color-primary-a7: #0089c172;
  --color-primary-a8: #0085bf9f;
  --color-primary-a9: #00c7fe83;
  --color-primary-a10: #00bcf38b;
  --color-primary-a11: #00749e;
  --color-primary-a12: #002540e2;
}
