@theme {
  --color-primary-a1: #0044ff0f;
  --color-primary-a2: #1171fb18;
  --color-primary-a3: #1184fc33;
  --color-primary-a4: #128fff49;
  --color-primary-a5: #1c9dfd5d;
  --color-primary-a6: #28a5ff72;
  --color-primary-a7: #2badfe8b;
  --color-primary-a8: #1db2fea9;
  --color-primary-a9: #7ce3fffe;
  --color-primary-a10: #a8eeff;
  --color-primary-a11: #7cd3ffef;
  --color-primary-a12: #c2f3ff;
}
