@theme {
  --color-primary-1: #0d141f;
  --color-primary-2: #111a27;
  --color-primary-3: #112840;
  --color-primary-4: #113555;
  --color-primary-5: #154467;
  --color-primary-6: #1b537b;
  --color-primary-7: #1f6692;
  --color-primary-8: #197cae;
  --color-primary-9: #7ce2fe;
  --color-primary-10: #a8eeff;
  --color-primary-11: #75c7f0;
  --color-primary-12: #c2f3ff;
}
