@theme {
  --color-primary: #7ce2fe;
  --color-primary-1: #f9feff;
  --color-primary-2: #f1fafd;
  --color-primary-3: #e1f6fd;
  --color-primary-4: #d1f0fa;
  --color-primary-5: #bee7f5;
  --color-primary-6: #a9daed;
  --color-primary-7: #8dcae3;
  --color-primary-8: #60b3d7;
  --color-primary-9: #7ce2fe;
  --color-primary-10: #74daf8;
  --color-primary-11: #00749e;
  --color-primary-12: #1d3e56;
}
