@theme {
  --color-primary-a1: #00005503;
  --color-primary-a2: #00005506;
  --color-primary-a3: #0000330f;
  --color-primary-a4: #00002d17;
  --color-primary-a5: #0009321f;
  --color-primary-a6: #00002f26;
  --color-primary-a7: #00062e32;
  --color-primary-a8: #00083046;
  --color-primary-a9: #00051d74;
  --color-primary-a10: #00071b7f;
  --color-primary-a11: #0007149f;
  --color-primary-a12: #000509e3;
}
