@theme {
  --color-primary: #8b8d98;
  --color-primary-1: #fcfcfd;
  --color-primary-2: #f9f9fb;
  --color-primary-3: #f0f0f3;
  --color-primary-4: #e8e8ec;
  --color-primary-5: #e0e1e6;
  --color-primary-6: #d9d9e0;
  --color-primary-7: #cdced6;
  --color-primary-8: #b9bbc6;
  --color-primary-9: #8b8d98;
  --color-primary-10: #80838d;
  --color-primary-11: #60646c;
  --color-primary-12: #1c2024;
}
