@theme {
  --color-primary: #696e77;
  --color-primary-1: #111113;
  --color-primary-2: #18191b;
  --color-primary-3: #212225;
  --color-primary-4: #272a2d;
  --color-primary-5: #2e3135;
  --color-primary-6: #363a3f;
  --color-primary-7: #43484e;
  --color-primary-8: #5a6169;
  --color-primary-9: #696e77;
  --color-primary-10: #777b84;
  --color-primary-11: #b0b4ba;
  --color-primary-12: #edeef0;
}
