@theme {
  --color-primary: #12a594;
  --color-primary-1: #0d1514;
  --color-primary-2: #111c1b;
  --color-primary-3: #0d2d2a;
  --color-primary-4: #023b37;
  --color-primary-5: #084843;
  --color-primary-6: #145750;
  --color-primary-7: #1c6961;
  --color-primary-8: #207e73;
  --color-primary-9: #12a594;
  --color-primary-10: #0eb39e;
  --color-primary-11: #0bd8b6;
  --color-primary-12: #adf0dd;
}
