@theme {
  --color-primary-a1: #00deab05;
  --color-primary-a2: #12fbe60c;
  --color-primary-a3: #00ffe61e;
  --color-primary-a4: #00ffe92d;
  --color-primary-a5: #00ffea3b;
  --color-primary-a6: #1cffe84b;
  --color-primary-a7: #2efde85f;
  --color-primary-a8: #32ffe775;
  --color-primary-a9: #13ffe49f;
  --color-primary-a10: #0dffe0ae;
  --color-primary-a11: #0afed5d6;
  --color-primary-a12: #b8ffebef;
}
