@theme {
  --color-primary-a1: #00cc9905;
  --color-primary-a2: #00aa800c;
  --color-primary-a3: #00c69d1f;
  --color-primary-a4: #00c39633;
  --color-primary-a5: #00b49047;
  --color-primary-a6: #00a6855e;
  --color-primary-a7: #0099807c;
  --color-primary-a8: #009783ac;
  --color-primary-a9: #009e8ced;
  --color-primary-a10: #009684f2;
  --color-primary-a11: #008573;
  --color-primary-a12: #00332df2;
}
