@theme {
  --color-primary: #12a594;
  --color-primary-1: #fafefd;
  --color-primary-2: #f3fbf9;
  --color-primary-3: #e0f8f3;
  --color-primary-4: #ccf3ea;
  --color-primary-5: #b8eae0;
  --color-primary-6: #a1ded2;
  --color-primary-7: #83cdc1;
  --color-primary-8: #53b9ab;
  --color-primary-9: #12a594;
  --color-primary-10: #0d9b8a;
  --color-primary-11: #008573;
  --color-primary-12: #0d3d38;
}
