@theme {
  --color-primary-1: #181111;
  --color-primary-2: #1f1513;
  --color-primary-3: #391714;
  --color-primary-4: #4e1511;
  --color-primary-5: #5e1c16;
  --color-primary-6: #6e2920;
  --color-primary-7: #853a2d;
  --color-primary-8: #ac4d39;
  --color-primary-9: #e54d2e;
  --color-primary-10: #ec6142;
  --color-primary-11: #ff977d;
  --color-primary-12: #fbd3cb;
}
