@theme {
  --color-primary-a1: #ff000003;
  --color-primary-a2: #ff200008;
  --color-primary-a3: #f52b0018;
  --color-primary-a4: #ff35002c;
  --color-primary-a5: #ff2e003d;
  --color-primary-a6: #f92d0050;
  --color-primary-a7: #e7280067;
  --color-primary-a8: #db250084;
  --color-primary-a9: #df2600d1;
  --color-primary-a10: #d72400da;
  --color-primary-a11: #cd2200ea;
  --color-primary-a12: #460900e0;
}
