@theme {
  --color-primary-a1: #f1121208;
  --color-primary-a2: #ff55330f;
  --color-primary-a3: #ff35232b;
  --color-primary-a4: #fd201142;
  --color-primary-a5: #fe332153;
  --color-primary-a6: #ff4f3864;
  --color-primary-a7: #fd644a7d;
  --color-primary-a8: #fe6d4ea7;
  --color-primary-a9: #fe5431e4;
  --color-primary-a10: #ff6847eb;
  --color-primary-a11: #ff977d;
  --color-primary-a12: #ffd6cefb;
}
