@theme {
  --color-primary-a1: #5500aa03;
  --color-primary-a2: #4900ff07;
  --color-primary-a3: #4400ee0f;
  --color-primary-a4: #4300ff1b;
  --color-primary-a5: #3600ff26;
  --color-primary-a6: #3100fb35;
  --color-primary-a7: #2d01dd4a;
  --color-primary-a8: #2b00d066;
  --color-primary-a9: #2400b7a9;
  --color-primary-a10: #2300abb2;
  --color-primary-a11: #1f0099af;
  --color-primary-a12: #0b0043d9;
}
