@theme {
  --color-primary-a1: #4422ff0f;
  --color-primary-a2: #853ff916;
  --color-primary-a3: #8354fe36;
  --color-primary-a4: #7d51fd50;
  --color-primary-a5: #845ffd5f;
  --color-primary-a6: #8f6cfd6d;
  --color-primary-a7: #9879ff83;
  --color-primary-a8: #977dfea8;
  --color-primary-a9: #8668ffcc;
  --color-primary-a10: #9176fed7;
  --color-primary-a11: #baa7ff;
  --color-primary-a12: #e3defffe;
}
