@theme {
  --color-primary: #6e56cf;
  --color-primary-1: #14121f;
  --color-primary-2: #1b1525;
  --color-primary-3: #291f43;
  --color-primary-4: #33255b;
  --color-primary-5: #3c2e69;
  --color-primary-6: #473876;
  --color-primary-7: #56468b;
  --color-primary-8: #6958ad;
  --color-primary-9: #6e56cf;
  --color-primary-10: #7d66d9;
  --color-primary-11: #baa7ff;
  --color-primary-12: #e2ddfe;
}
