@theme {
  --color-primary: #6e56cf;
  --color-primary-1: #fdfcfe;
  --color-primary-2: #faf8ff;
  --color-primary-3: #f4f0fe;
  --color-primary-4: #ebe4ff;
  --color-primary-5: #e1d9ff;
  --color-primary-6: #d4cafe;
  --color-primary-7: #c2b5f5;
  --color-primary-8: #aa99ec;
  --color-primary-9: #6e56cf;
  --color-primary-10: #654dc4;
  --color-primary-11: #6550b9;
  --color-primary-12: #2f265f;
}
