@theme {
  --color-primary-a1: #d1510004;
  --color-primary-a2: #f9b4000b;
  --color-primary-a3: #ffaa001e;
  --color-primary-a4: #fdb70028;
  --color-primary-a5: #febb0036;
  --color-primary-a6: #fec40046;
  --color-primary-a7: #fdcb225c;
  --color-primary-a8: #fdca327b;
  --color-primary-a9: #ffe629;
  --color-primary-a10: #ffff57;
  --color-primary-a11: #fee949f5;
  --color-primary-a12: #fef6baf6;
}
