@theme {
  --color-primary-1: #fdfdf9;
  --color-primary-2: #fefce9;
  --color-primary-3: #fffab8;
  --color-primary-4: #fff394;
  --color-primary-5: #ffe770;
  --color-primary-6: #f3d768;
  --color-primary-7: #e4c767;
  --color-primary-8: #d5ae39;
  --color-primary-9: #ffe629;
  --color-primary-10: #ffdc00;
  --color-primary-11: #9e6c00;
  --color-primary-12: #473b1f;
}
