@theme {
  --color-primary-a1: #aaaa0006;
  --color-primary-a2: #f4dd0016;
  --color-primary-a3: #ffee0047;
  --color-primary-a4: #ffe3016b;
  --color-primary-a5: #ffd5008f;
  --color-primary-a6: #ebbc0097;
  --color-primary-a7: #d2a10098;
  --color-primary-a8: #c99700c6;
  --color-primary-a9: #ffe100d6;
  --color-primary-a10: #ffdc00;
  --color-primary-a11: #9e6c00;
  --color-primary-a12: #2e2000e0;
}
