@theme {
  --gray-1: #fdfcfd;
  --gray-2: #faf9fb;
  --gray-3: #f2eff3;
  --gray-4: #eae7ec;
  --gray-5: #e3dfe6;
  --gray-6: #dbd8e0;
  --gray-7: #d0cdd7;
  --gray-8: #bcbac7;
  --gray-9: #8e8c99;
  --gray-10: #84828e;
  --gray-11: #65636d;
  --gray-12: #211f26;
}
