@theme {
  --gray-a1: #55005503;
  --gray-a2: #2b005506;
  --gray-a3: #30004010;
  --gray-a4: #20003618;
  --gray-a5: #20003820;
  --gray-a6: #14003527;
  --gray-a7: #10003332;
  --gray-a8: #08003145;
  --gray-a9: #05001d73;
  --gray-a10: #0500197d;
  --gray-a11: #0400119c;
  --gray-a12: #020008e0;
}
