@theme {
  --gray-1: #111211;
  --gray-2: #191a19;
  --gray-3: #222322;
  --gray-4: #2a2b2a;
  --gray-5: #313231;
  --gray-6: #3a3c3a;
  --gray-7: #484a48;
  --gray-8: #606260;
  --gray-9: #6e706e;
  --gray-10: #7b7d7b;
  --gray-11: #b4b5b4;
  --gray-12: #eeefee;
}
