@theme {
  --gray-1: #fdfdfc;
  --gray-2: #f9f9f8;
  --gray-3: #f1f0ef;
  --gray-4: #e9e8e6;
  --gray-5: #e2e1de;
  --gray-6: #dad9d6;
  --gray-7: #cfceca;
  --gray-8: #bcbbb5;
  --gray-9: #8d8d86;
  --gray-10: #82827c;
  --gray-11: #63635e;
  --gray-12: #21201c;
}
