@theme {
  --gray-1: #111110;
  --gray-2: #191918;
  --gray-3: #222221;
  --gray-4: #2a2a28;
  --gray-5: #31312e;
  --gray-6: #3b3a37;
  --gray-7: #494844;
  --gray-8: #62605b;
  --gray-9: #6f6d66;
  --gray-10: #7c7b74;
  --gray-11: #b5b3ad;
  --gray-12: #eeeeec;
}
