@theme {
  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #0000330f;
  --gray-a4: #00002d17;
  --gray-a5: #0009321f;
  --gray-a6: #00002f26;
  --gray-a7: #00062e32;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00071b7f;
  --gray-a11: #0007149f;
  --gray-a12: #000509e3;
}
