@theme {
  --breakpoint-*: initial;
  --breakpoint-320: 20rem;
  --breakpoint-480: 30rem;
  --breakpoint-640: 40rem;
  --breakpoint-768: 48rem;
  --breakpoint-1024: 64rem;
  --breakpoint-1280: 80rem;
  --breakpoint-1400: 87.5rem;
}
