@theme {
  --crimson-a1: #ff005503;
  --crimson-a2: #e0004008;
  --crimson-a3: #ff005216;
  --crimson-a4: #f8005123;
  --crimson-a5: #e5004f31;
  --crimson-a6: #d0004b41;
  --crimson-a7: #bf004753;
  --crimson-a8: #b6004a6c;
  --crimson-a9: #e2005bc2;
  --crimson-a10: #d70056cb;
  --crimson-a11: #c4004fe2;
  --crimson-a12: #530026e9;
}
