@theme {
  --sage-a1: #00804003;
  --sage-a2: #00402006;
  --sage-a3: #00402010;
  --sage-a4: #00402018;
  --sage-a5: #00402020;
  --sage-a6: #00402027;
  --sage-a7: #00402032;
  --sage-a8: #00402045;
  --sage-a9: #00301873;
  --sage-a10: #0030187d;
  --sage-a11: #0020109c;
  --sage-a12: #00100ae0;
}
