@theme {
  --breakpoint-\*: initial;
  --breakpoint-320: 320px;
  --breakpoint-480: 480px;
  --breakpoint-640: 640px;
  --breakpoint-768: 768px;
  --breakpoint-1024: 1024px;
  --breakpoint-1280: 1280px;
  --breakpoint-1400: 1400px;
}
