@theme {
  --breakpoint-*: initial;
  --breakpoint-320: 32rem;
  --breakpoint-480: 48rem;
  --breakpoint-640: 64rem;
  --breakpoint-768: 76.8rem;
  --breakpoint-1024: 102.4rem;
  --breakpoint-1280: 128rem;
  --breakpoint-1400: 140rem;
}
